
#wp-admin-bar-wpmovielibrary img {
	margin: -2px 6px 0 0;
}

#wp-toolbar #wp-admin-bar-wpmovielibrary > .ab-item > img,
#wp-toolbar #wp-admin-bar-wpmovielibrary > .ab-item > img {
	opacity: 0.75;
}

/** Public Page
 ***************************************************/

.hentry.wpmoly_page.type-wpmoly_page .entry-header {
	display: none;
}

.hentry.wpmoly_page .page-numbers {
	text-align: center;
}

.hentry.wpmoly_page .page-numbers li {
	display: inline-block;
	margin: 0px 0.5em;
}

/** Movie Post TMDb
 ***************************************************/

.wpmoly_movie .wpmoly_title_field_value,
.wpmoly_movie .wpmoly_original_title_field_value {
	font-style: italic;
}

.wpmoly_movie_detail {
	float: right;
	min-width: 10em;
	width: auto;
}

.wpmoly_movie_detail > div {
	display: inline-block;
	margin: 0 0.5em;
}

.wpmoly_movie_detail_item {
	background: #eee;
	border-radius: 0.25em;
	padding: 0.25em 1em;
}

.wpmoly_movie_media .wpmoly_movie_detail_item,
.wpmoly_movie_status .wpmoly_movie_detail_item {
	padding: 0.5em 1em 0.6em 1em;
}

.wpmoly_movie_media.dvd .wpmoly_movie_detail_item {
	background: #a7caf8;
	color: #fff;
	text-shadow: 0 1px 0 #77a0d6;
}

.wpmoly_movie_media.bluray .wpmoly_movie_detail_item {
	background: #5e62d6;
	color: #fff;
	text-shadow: 0 1px 0 #3a3da3;
}

.wpmoly_movie_media.vod .wpmoly_movie_detail_item {
	background: #cc5ed6;
	color: #fff;
	text-shadow: 0 1px 0 #752d7c;
}

.wpmoly_movie_media.cinema .wpmoly_movie_detail_item {
	background: #47b7cc;
	color: #fff;
	text-shadow: 0 1px 0 #237e8f;
}

.wpmoly_movie_media.vhs .wpmoly_movie_detail_item {
}

.wpmoly_movie_media.other .wpmoly_movie_detail_item {
}

.wpmoly_movie_status.available .wpmoly_movie_detail_item {
	background: #888;
	color: #fff;
	text-shadow: 0 1px 0 #333;
}

.wpmoly_movie_status.available .wpmoly_movie_detail_item {
	background: #7dd667;
	color: #fff;
	text-shadow: 0 1px 0 #4ea239;
}

.wpmoly_movie_status.loaned .wpmoly_movie_detail_item {
	background: #d67067;
	color: #fff;
	text-shadow: 0 1px 0 #a84137;
}

.wpmoly_movie_status.scheduled .wpmoly_movie_detail_item {
	
}

.wpmoly_movie_media.wpmoly_detail_icon,
.wpmoly_movie_status.wpmoly_detail_icon,
.wpmoly_movie_rating.wpmoly_detail_icon {
	background-color: #e1e1e6;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border-radius: 0.35em;
	display: inline-block;
	height: 32px;
	margin: 0 2px;
	max-width: 32px;
	min-width: 32px;
	opacity: 0.75;
	padding: 0.2em;
	vertical-align: middle;
}

.wpmoly_movie_rating.wpmoly_detail_icon {
	max-width: 94px;
}

.wpmoly_movie_media.wpmoly_detail_icon.dvd {
	background-image: url(../../img/icon-dvd.png);
}

.wpmoly_movie_media.wpmoly_detail_icon.bluray {
	background-image: url(../../img/icon-bluray.png);
}

.wpmoly_movie_media.wpmoly_detail_icon.vod {
	background-image: url(../../img/icon-vod.png);
}

.wpmoly_movie_media.wpmoly_detail_icon.divx {
	background-image: url(../../img/icon-divx.png);
}

.wpmoly_movie_media.wpmoly_detail_icon.vhs {
	background-image: url(../../img/icon-vhs.png);
}

.wpmoly_movie_media.wpmoly_detail_icon.cinema {
	background-image: url(../../img/icon-cinema.png);
}

.wpmoly_movie_media.wpmoly_detail_icon.other {
	background-image: url(../../img/icon-other.png);
}

.wpmoly_movie_status.wpmoly_detail_icon.unavailable {
	background-image: url(../../img/icon-unavailable.png);
}

.wpmoly_movie_status.wpmoly_detail_icon.available {
	background-image: url(../../img/icon-available.png);
}

.wpmoly_movie_status.wpmoly_detail_icon.scheduled {
	background-image: url(../../img/icon-scheduled.png);
}

.wpmoly_movie_status.wpmoly_detail_icon.loaned {
	background-image: url(../../img/icon-loaned.png);
}

.wpmoly_movie_rating.wpmoly_detail_icon .movie_rating_display {
	margin-top: 8px;
	margin-left: 8px;
}

/** Shortcodes **/

.wpmoly_shortcode_span.wpmoly_shortcode_span_title {
	display: block;
	font-weight: bold;
}

.wpmoly_shortcode_span.wpmoly_shortcode_span_value {
	display: block;
	margin-left: 0.5em;
}

.wpmoly_shortcode_ul.wpmoly_movie_images {
	list-style: none;
	text-align: center;
}

.wpmoly_shortcode_ul.wpmoly_movie_images > .wpmoly_movie_image {
	display: inline-block;
	margin: 2px 6px;
}

/** Movie Rating **/

.movie_rating_display {
	background-image: url(../../img/rating.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	margin: 6px 4px !important;
	overflow: hidden;
	position: relative;
	width: 82px;
}

.stars {
	margin: 1em 1em 1em 2em;
}

.stars_0_0 {background-position: 0 0;}
.stars_0_5 {background-position: 0 -16px;}
.stars_1_0 {background-position: 0 -32px;}
.stars_1_5 {background-position: 0 -48px;}
.stars_2_0 {background-position: 0 -64px;}
.stars_2_5 {background-position: 0 -80px;}
.stars_3_0 {background-position: 0 -96px;}
.stars_3_5 {background-position: 0 -112px;}
.stars_4_0 {background-position: 0 -128px;}
.stars_4_5 {background-position: 0 -144px;}
.stars_5_0 {background-position: 0 -160px;}

.stars_labels {
	position: relative;
}

.stars_label {
	font-size: 0.9em;
	left: 82px;
	position: absolute;
	opacity: 0;
	width: 100%;
}

.stars_label.show {
	opacity: 1;
}

/** Wigets **/

.wpmoly-widget-description {
	margin: 0.5em 0 !important;
}

/** Movies Widgets **/

.wpmoly-movies-widget {
	position: relative;
}

.wpmoly-movies-widget .movie-title {
	display: block;
	font-weight: 600;
	margin: 0.5em 0;
}

.wpmoly-movies-widget a {
	text-decoration: none;
}

.wpmoly-movies-widget .wpmoly-movie {
	display: inline-table;
	max-width: 150px;
	min-height: 122px;
	min-width: 122px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 49%;
}

.wpmoly-movies-widget .wpmoly-movie img {
	height: 100%;
	width: 100%;
}

.wpmoly-movies-widget .wpmoly-movie .movie_rating_display.starsntext {
	margin: 0.25em auto 0.75em auto;
	text-align: right;
	width: 94%;
}

.wpmoly-movies-widget .wpmoly-movie .movie_rating_display.starsntext small {
	display: inline-block;
	margin: 3px 0;
}

.wpmoly-rating-widget .movie_rating_display {
	margin: 2px 6px -3px !important;
	overflow: visible;
	width: 100%;
}

.wpmoly-rating-widget .movie_rating_display .stars_label {
	left: 90px;
	opacity: 1.0;
	top: -2px;
	width: auto !important;
}

.wpmoly-list.custom select {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	color: #666;
	outline: none;
	padding: 0.5em 1em;
	text-shadow: 0 1px 0 white;
	width: 100%;
}