
.wpmolicon {
	display: inline-block;
	width: 20px;
	height: 20px;
	font-size: 20px;
	line-height: 1;
	font-family: "wpmovielibrary";
	text-decoration: inherit;
	font-weight: normal;
	font-style: normal;
	vertical-align: top;
	text-align: center;
	-webkit-transition: color .1s ease-in 0;
	transition: color .1s ease-in 0;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#wp-admin-bar-wpmovielibrary .wpmolicon {
	font-family: 'wpmovielibrary';
	font-size: 1.25em;
	margin-right: 0.25em;
	opacity: 0.75;
}

/** Public Page
 ***************************************************/

.hentry.wpmoly_page.type-wpmoly_page .entry-header {
	display: none;
}

.hentry.wpmoly_page .page-numbers {
	text-align: center;
}

.hentry.wpmoly_page .page-numbers li {
	display: inline-block;
	margin: 0px 0.5em;
}

/** Movie Post TMDb
 ***************************************************/

.wpmoly_movie .wpmoly_title_field_value,
.wpmoly_movie .wpmoly_original_title_field_value {
	font-style: italic;
}

.wpmoly-movie-details {
	float: right;
	min-width: 10em;
	width: auto;
}

.wpmoly-movie-details .wpmoly-movie-detail > .wpmolicon {
	font-size: 1.5rem;
	height: 1.75rem;
	line-height: 2rem;
	width: 1.5rem;
}

.wpmoly-movie-details .wpmoly-movie-rating > .wpmoly-movie-rating {
	top: 2px;
	position: relative;
}

.wpmoly-movie-details .wpmoly-movie-rating .wpmolicon {
	font-size: 1.25em !important;
	line-height: 1.75rem;
}

.wpmoly-movie-details > div {
	display: inline-block;
	margin: 0 0.25em;
}

.wpmoly-movie-detail {
	background: #eee;
	border-radius: 0.25em;
	line-height: 2rem;
	padding: 0.25em 0.5em;
}

.wpmoly-movie-detail.wpmoly-movie-media,
.wpmoly-movie-detail.wpmoly-movie-status {
	width: 1.75rem;
}

.wpmoly-movie-media .wpmoly-movie-details-item,
.wpmoly-movie-status .wpmoly-movie-details-item {
	padding: 0.5em 1em 0.6em 1em;
}

.wpmoly-movie-media.dvd .wpmoly-movie-details-item {
	background: #a7caf8;
	color: #fff;
	text-shadow: 0 1px 0 #77a0d6;
}

.wpmoly-movie-media.bluray .wpmoly-movie-details-item {
	background: #5e62d6;
	color: #fff;
	text-shadow: 0 1px 0 #3a3da3;
}

.wpmoly-movie-media.vod .wpmoly-movie-details-item {
	background: #cc5ed6;
	color: #fff;
	text-shadow: 0 1px 0 #752d7c;
}

.wpmoly-movie-media.cinema .wpmoly-movie-details-item {
	background: #47b7cc;
	color: #fff;
	text-shadow: 0 1px 0 #237e8f;
}

.wpmoly-movie-media.vhs .wpmoly-movie-details-item {
}

.wpmoly-movie-media.other .wpmoly-movie-details-item {
}

.wpmoly-movie-status.available .wpmoly-movie-details-item {
	background: #888;
	color: #fff;
	text-shadow: 0 1px 0 #333;
}

.wpmoly-movie-status.available .wpmoly-movie-details-item {
	background: #7dd667;
	color: #fff;
	text-shadow: 0 1px 0 #4ea239;
}

.wpmoly-movie-status.loaned .wpmoly-movie-details-item {
	background: #d67067;
	color: #fff;
	text-shadow: 0 1px 0 #a84137;
}

.wpmoly-movie-status.scheduled .wpmoly-movie-details-item {
	
}

.wpmoly-movie-media.wpmoly_detail_icon,
.wpmoly-movie-status.wpmoly_detail_icon,
.wpmoly-movie-rating.wpmoly_detail_icon {
	background-color: #e1e1e6;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border-radius: 0.35em;
	display: inline-block;
	height: 32px;
	margin: 0 2px;
	max-width: 32px;
	min-width: 32px;
	opacity: 0.75;
	padding: 0.2em;
	vertical-align: middle;
}

.wpmoly-movie-rating.wpmoly_detail_icon .movie_rating_display {
	margin-top: 8px;
	margin-left: 8px;
}

/** Shortcodes **/

.wpmoly-shortcode-span.wpmoly-shortcode-span-title {
	display: block;
	font-weight: bold;
}

.wpmoly-shortcode-span.wpmoly-shortcode-span-value {
	display: block;
	margin-left: 0.5em;
}

.wpmoly-shortcode-ul.wpmoly-movie-images {
	list-style: none;
	text-align: center;
}

.wpmoly-shortcode-ul.wpmoly-movie-images > .wpmoly-movie-image {
	display: inline-block;
	margin: 2px 6px;
}

/** Movie Rating **/

.movie-rating-display > * {
	display: inline-block;
}

.movie-rating-display > .rating-label {
	margin-left: 6px;
	position: relative;
	top: 2px;
}

/** Wigets **/

.wpmoly-widget-description {
	margin: 0.5em 0 !important;
}

/** Movies Widgets **/

.wpmoly-movies-widget {
	position: relative;
}

.wpmoly-movies-widget .movie-title {
	display: block;
	font-weight: 600;
	margin: 0.5em 0;
}

.wpmoly-movies-widget a {
	text-decoration: none;
}

.wpmoly-movies-widget .wpmoly-movie {
	display: inline-table;
	margin-bottom: 6px;
	max-width: 150px;
	min-height: 122px;
	min-width: 122px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 49%;
}

.wpmoly-movies-widget .wpmoly-movie img {
	height: 100%;
	margin-bottom: 4px;
	width: 100%;
}

.wpmoly-list.custom select {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	color: #666;
	outline: none;
	padding: 0.5em 1em;
	text-shadow: 0 1px 0 white;
	width: 100%;
}