
/* WPML Notice
 ****************************************************/

.wpml {
	background: url(../assets/gradient.png) center top repeat-x;
	border-color: #5b6b8b !important;
	color: #fff;
	padding: 0.75em 1.5em !important;
	text-shadow: 0px 2px 4px #124;
}

.updated.wpml a {
	font-weight: bold;
	color: #fff;
}

.wpml a:hover {
	color: #faaeae;
}


/* #TMDb Tabs Settings
 ****************************************************/

#tmdb-tabs-settings h4 {
    margin: 0.25em 0;
}

#tmdb-tabs-settings.ui-widget-content {
	border-width: 0 !important;
}

#tmdb-tabs-settings > ul > li > a {
	outline: none;
}

#tmdb-tabs-settings h4 .ui-icon {
	display: inline-block;
	margin: 0.25em 0 -0.25em 0;
}

#tmdb-tabs-settings .update-nag {
	padding: 1em 1.5em;
	text-align: left;
}

#tmdb-tabs-settings .update-nag .ui-icon {
	display: inline-block;
	margin: 0.25em 0 -0.25em 0;
}

#restore_default {
	font-size: 1.2em;
	height: auto;
	padding: 0.5em 3em;
}

.tmdb-settings tr:nth-child(even) {
	background: #f6f6f6;
}

.tmdb-settings {
	margin-bottom: 2em;
}

.ui-tabs-panel h4 {
	border-bottom: 1px solid #efefef;
	padding: 1em 0.5em;
}


/* #TMDb Meta Box
 ****************************************************/

#tmdbstuff table,
#tmdbstuff input,
#tmdbstuff textarea {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}

#tmdbstuff thead th {
	padding: 5px 8px 8px;
}

#tmdbstuff table {
	border-color: #dfdfdf;
	background-color: #f9f9f9;
	margin: 2em 0 0 0;
	width: 100%;
	border-width: 1px;
	border-style: solid;
	border-spacing: 0;
}

#tmdbstuff thead th {
	background-color: #f1f1f1;
}

#tmdbstuff tr {
	vertical-align: top;
}

#tmdbstuff th.left,
#tmdbstuff td.left {
	padding: 0.5em 1em;
	width: 25%;
}

#tmdbstuff table input,
#tmdbstuff table select,
#tmdbstuff table textarea {
	width: 96%;
	margin: 8px;
}

#tmdb_data {
	display: none;
	margin-top: 1.5em;
}

.button-empty {
	display: none;
	float: right;
}

.tmdb_select_movie {
	display: inline-block;
	height: 18em;
	padding: 0.25em;
	text-align: center;
	width: 12.5em;
}

.tmdb_select_movie img {
	border-radius: 4px;
	box-shadow: 0 1px 1px #333;
	max-height: 16em;
	max-width: 12.5em;
}

.tmdb_select_movie em {
	display: block;
}

.button-loading {
	background-image: url(../../../../../wp-admin/images/wpspin_light.gif) !important;
	background-position: 4px 2px !important;
	background-repeat: no-repeat !important;
	background-size: 14px !important;
	padding-left: 24px !important;
}

.tmbd_movie_images {
	background: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	height: 8em;
	margin: 0.25em;
	overflow: hidden;
	padding: 0.25em;
	position: relative;
	width: 12em;
}

.tmbd_movie_images img {
	height: auto;
	width: 100%;
}

.tmbd_movie_images a {
	background: white url(../../../../../wp-admin/images/xit.gif) 0 0 no-repeat;
	border-radius: 0em;
	height: 0.8em;
	position: absolute;
	right: 0.25em;
	bottom: 0.2em;
	width: 0.8em;
}

.tmbd_movie_image_remove:hover {
	background-position: -10px 0;
}

#tmdb_save_images {
	display: none;
}

.ui-progressbar {
	margin: 1em 1.5em 1em 0.5em;
	position: relative;
}

.progress-label {
	position: absolute;
	left: 50%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}






















