
/* WPML Notice
 ****************************************************/

.wpml {
	background: url(../assets/gradient.png) center top repeat-x;
	border-color: #5b6b8b !important;
	color: #fff;
	padding: 0.75em 1.5em !important;
	text-shadow: 0px 2px 4px #124;
}

.updated.wpml a {
	font-weight: bold;
	color: #fff;
}

.wpml a:hover {
	color: #faaeae;
}

/* #WPML-Help
 ****************************************************/

#wpml-help {
	color: #666;
	float: left;
	margin-left: 2%;
	min-height: 8em;
	width: 26%;
}

#wpml-help .ui-widget-header {
	border-radius: 4px;
	color: #444;
	margin-top: 3px;
	padding: 14px 16px;
	text-shadow: 1px 1px 0 #efefef;
}

#wpml-help p {
	text-align: justify;
}

#wpml-help ul {
	list-style: circle;
	margin-left: 24px;
}


/* #TMDb Tabs Settings
 ****************************************************/

#wpml-tabs .wp-list-table a {
	color: #21759B;
}

#wpml-tabs .wp-list-table .delete a {
	color: #BC0B0B;
}

#wpml-tabs .wp-list-table a:hover,
#wpml-tabs .wp-list-table a:focus {
	color: #D54E21;
}

#wpml-tabs .wp-list-table #ID,
#wpml-tabs .wp-list-table #tmdb_id {
	width: 6em;
}

#wpml-tabs h4 {
	margin: 0.25em 0;
}

#wpml-tabs.ui-widget-content {
	border-width: 0 !important;
	float: left;
	width: 70%;
}

#wpml-tabs > ul > li > a {
	outline: none;
}

#wpml-tabs h4 .ui-icon {
	display: inline-block;
	margin: 0.25em 0 -0.25em 0;
}

#wpml-tabs .update-nag {
	padding: 1em 1.5em;
	text-align: left;
}

#wpml-tabs .update-nag .ui-icon {
	display: inline-block;
	margin: 0.25em 0 -0.25em 0;
}

#restore_default {
	font-size: 1.2em;
	height: auto;
	padding: 0.5em 3em;
}

.wpml-settings tr:nth-child(even) {
	background: #f6f6f6;
}

.wpml-settings {
	margin-bottom: 2em;
}

.ui-tabs-panel h4 {
	border-bottom: 1px solid #efefef;
	padding: 1em 0.5em;
}

#api_status {
	padding: 0 0.75em;
}

#api_status.valid {
	color: #13bd43;
}

#api_status.invalid {
	color: #bd132e;
}


/* #TMDb Meta Box
 ****************************************************/

#tmdbstuff table,
#tmdbstuff input[type=text],
#tmdbstuff textarea {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}

#tmdbstuff thead th {
	padding: 5px 8px 8px;
}

#tmdbstuff table {
	border-color: #dfdfdf;
	background-color: #f9f9f9;
	border-width: 1px;
	border-style: solid;
	border-spacing: 0;
	float: left;
	margin: 2em 0 0 0;
}

#tmdbstuff .tmdb_meta {
	width: 56%;
}

#tmdbstuff .tmdb_crew {
	margin-left: 2%;
	width: 42%;
}

#tmdbstuff thead th {
	background-color: #f1f1f1;
}

#tmdbstuff tr {
	vertical-align: top;
}

#tmdbstuff th.left,
#tmdbstuff td.left {
	padding: 0.5em 1em;
	width: 25%;
}

#tmdbstuff table input,
#tmdbstuff table select,
#tmdbstuff table textarea {
	width: 96%;
	margin: 8px;
}

#tmdb_data {
	display: none;
	margin-top: 1.5em;
}

.button-empty {
	display: none;
	float: right;
}

.tmdb_select_movie {
	display: inline-block;
	height: 18em;
	padding: 0.25em;
	text-align: center;
	width: 12.5em;
}

.tmdb_select_movie img {
	border-radius: 4px;
	box-shadow: 0 1px 1px #333;
	max-height: 16em;
	max-width: 12.5em;
}

.tmdb_select_movie em {
	display: block;
}

.button-loading {
	background-image: url(../../../../../wp-admin/images/wpspin_light.gif) !important;
	background-repeat: no-repeat !important;
}

.button-small.button-loading {
	background-position: 4px 2px !important;
	background-size: 14px !important;
	padding-left: 24px !important;
}

.button-large.button-loading {
	background-position: 6px 6px !important;
	background-size: 16px !important;
	padding-left: 2.25em !important;
}

#tmdbstuff .tmdb_images_preview {
	width: 100%;
	/*text-align: center;*/
}

#tmdbstuff .tmdb_images_preview td {
    padding: 0.5em !important;
}

#tmdb_save_images {
	float: right !important;
	margin: 0.5em 0 0 0;
	width: auto !important;
}

.tmdb_movie_images {
	background: #fff;
	border: 1px solid #ccc;
	display: inline-block;
	height: 10em;
	margin: 0.25em;
	overflow: hidden;
	padding: 0.25em;
	position: relative;
	width: 16em;
}

.tmdb_movie_images img {
	height: auto;
	width: 100%;
}

.tmdb_movie_images a {
	background: white url(../../../../../wp-admin/images/xit.gif) 0 0 no-repeat;
	border-radius: 0em;
	height: 0.8em;
	position: absolute;
	right: 0.25em;
	bottom: 0.2em;
	width: 0.8em;
}

.tmdb_movie_image_remove:hover {
	background-position: -10px 0;
}

#tmdb_save_images {
	display: none;
}

#progressbar {
	display: none;
}

.ui-progressbar {
	margin: 1em auto;
	position: relative;
	width: 50%;
}

.progress-label {
	position: absolute;
	left: 46%;
	top: 4px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}

/* #WPML 
 ****************************************************/

#wpml_import {
	max-width: 56em;
	width: 100%;
}

#wpml_import_list {
	height: 12em;
	width: 100%;
}

/* #TMDb Meta Box
 ****************************************************/

.wpml_details {
    
}

#movie-status-display,
#movie-media-display {
	font-weight: bold;
}

#movie-status-icon {
	background: url(../assets/icon-status.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#movie-media-icon {
	background: url(../assets/icon-media.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#movie_rating_display {
	background-image: url(../assets/rating.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	margin: 0 6px -3px 6px;
	overflow: hidden;
	position: relative;
	width: 82px;
}

#stars {
	margin: 1em 1em 1em 2em;
}

#movie_rating_display.stars-1 {background-position: 0 -16px !important;}
#movie_rating_display.stars-2 {background-position: 0 -32px !important;}
#movie_rating_display.stars-3 {background-position: 0 -48px !important;}
#movie_rating_display.stars-4 {background-position: 0 -64px !important;}
#movie_rating_display.stars-5 {background-position: 0 -80px !important;}

.star {
	background-image: url(../assets/rating.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	cursor: pointer;
	display: inline-block;
	height: 16px;
	width: 16px;
}

.star.on,
.star.s {
	background-position: 0 -16px;
}








