
body.wpmovielibrary {
	background: #00293b url(../assets/bg.jpg) center bottom fixed no-repeat;
	height: 100%;
	position: absolute;
	width: 100%;
}

#wpmovielibrary {
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 0 rgba(255, 255, 255, 0.1);
	margin: 2em auto;
	overflow: hidden;
}

#wpmovielibrary .row {
	position: relative;
}

#wpmovielibrary .row-header {
	background: #fff;
	border-radius: 6px 6px 0 0;
	height: 5em;
}

#wpmovielibrary .brand {
	background: #269682;
	border-radius: 4px 0 0 0;
	line-height: 2em;
	left: 0;
	padding: 1.5em 1em;
	position: absolute;
	text-align: center;
	width: 12em;
}

#wpmovielibrary .brand #brand {
	color: #fff;
	font-family: 'Exo', sans-serif;
	font-size: 1.25em;
	font-weight: lighter;
	position: relative;
}

#wpmovielibrary .library-header {
	color: #888;
	margin-left: 14em;
	padding: 2em 2em 1em 2em;
	position: absolute;
}

#wpmovielibrary .library-header ul {
	list-style: none;
}

#wpmovielibrary .library-header li {
	display: inline-block;
	padding: 0 2em;
}

#wpmovielibrary .library-header i {
	color: #ccc;
	margin-right: 0.5em;
}

#wpmovielibrary .library-menu {
	float: right;
}

#wpmovielibrary .library-menu a {
	text-decoration: none;
}

#wpmovielibrary .search {
	background: #00293b;
	border-radius: 0 4px 0 0;
	color: #fff;
	line-height: 2em;
	padding: 1.5em 1em;
	position: absolute;
	right: 0;
	width: 12em;
}

#wpmovielibrary #search_movie {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
	color: #fff;
	outline: none;
	text-align: center;
}

/** Side Menu
 ***************************************************/

#wpmovielibrary #sidemenu {
	background: #00141d;
	padding: 1em 1.5em;
	position: absolute;
	height: 100%;
	width: 11em;
}

#wpmovielibrary #sidemenu .sidemenu-h {
	color: #3c4957;
	font-size: 0.9em;
	font-weight: normal;
	margin: 1em 0;
}

#sidemenu li a {
	color: #d6d6d6;
	display: block;
	font-size: 0.9em;
	font-weight: normal;
	line-height: 1.5em;
	padding: 0.5em 1em;
	text-decoration: none;
}

#sidemenu li a:hover,
#sidemenu li a:focus {
	background: #0b5f66;
	border-radius: 3px;
	color: #fff;
}

#sidemenu li a.active {
	
}

#sidemenu i {
	margin-right: 0.25em;
}

/** Library
 ***************************************************/

#library {
	background: #fff;
	position: relative;
	margin-left: 14em;
}

.movie {
	float: left;
	height: 19em;
	width: 14em;
}

.movie img {
	border-radius: 0 !important;
	height: 100%;
	width: 100%;
}

#library.detailled .movie {
	margin: 1em 0;
	padding: 0 2em;
	width: 10em;
}

#library.detailled .movie-poster {
	height: 14em;
	margin-bottom: 1em;
	width: 10em;
}

#library.detailled .movie-poster img {
	border-radius: 4px !important;
	box-shadow: 0 1px 2px #3C4957;
}

#library.detailled .movie-title {
	color: #00141d;
	font-style: italic;
	font-weight: bold;
}

#library.detailled .movie-genres,
#library.detailled .movie-runtime {
	color: #3c4957;
	font-size: 0.9em;
}

#library.flat .movie-title,
#library.flat .movie-genres,
#library.flat .movie-runtime {
	display: none;
}

#library .movie-overview {
	display: none;
}

/** Movie detail
 ***************************************************/

/*#movie_details {
	background: rgba(0, 20, 29, 0.75);
	box-shadow: 24em 0 16em #00141d inset;
	height: 100%;
	left: 14em;
	position: absolute;
	top: 0;
	width: 0em;
}*/

/** Media
 ***************************************************/

@media (max-width: 112em) {
	#wpmovielibrary {
		width: 112em;
	}
	#wpmovielibrary .library-header {
		width: 80em;
	}
}

@media (max-width: 102em) {
	#wpmovielibrary {
		width: 98em;
	}
	#wpmovielibrary .library-header {
		width: 66em;
	}
}

@media (max-width: 92em) {
	#wpmovielibrary {
		width: 84em;
	}
	#wpmovielibrary .library-header {
		width: 52em;
	}
	.movie {
		height: 18em;
		width: 14em;
	}
}

@media (max-width: 72em) {
	#wpmovielibrary {
		width: 70em;
	}
	#wpmovielibrary .library-header {
		width: 38em;
	}
	.movie {
		height: 18em;
		width: 14em;
	}
}


@media (max-height: 58em) {
	#wpmovielibrary {
		height: 56em;
	}
	#wpmovielibrary .row-content,
	#wpmovielibrary #library {
		height: 51em;
	}
	#wpmovielibrary #sidemenu {
		height: 49em;
	}
}





























