
#menu-posts-movie .wp-menu-image.dashicons-before.dashicons-wpmoly:before {
	content: "\e900";
	font-family: "wpmovielibrary" !important;
}

.wpmoly-confirm-modal-container {
	display: none;
}

.wpmoly-confirm-modal-backdrop {
	background: rgba(0, 0, 0, 0.5);
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999999;
}

.wpmoly-confirm-modal {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
	left: 50%;
	margin-left: -240px;
	position: fixed;
	top: 33%;
	width: 480px;
	z-index: 1000000;
}

.wpmoly-confirm-modal .confirm-modal-close {
	display: none;
	font-size: 16px;
	height: 32px;
	position: absolute;
	right: 4px;
	top: -32px;
	width: 32px;
}

.wpmoly-confirm-modal .confirm-modal-content {
	padding: 20px;
}

.wpmoly-confirm-modal .confirm-modal-content .confirm-modal-icon {
	padding: 15px;
	float: left;
}

.wpmoly-confirm-modal .confirm-modal-content .confirm-modal-icon .wpmolicon,
.wpmoly-confirm-modal .confirm-modal-content .confirm-modal-icon .dashicons {
	color: #aaa;
	font-size: 36px;
	height: 36px;
	width: 36px;
}

.wpmoly-confirm-modal .confirm-modal-content .confirm-modal-text {
	padding: 15px 0;
}

.wpmoly-confirm-modal .confirm-modal-footer {
	/*bottom: 0;*/
	height: 42px;
	/*left: 0;
	position: absolute;
	right: 0;*/
}

.wpmoly-confirm-modal .confirm-modal-footer .confirm-modal-button {
	color: #eee;
	display: inline-block;
	font-weight: 600;
	height: 42px;
	width: 50%;
}

.wpmoly-confirm-modal .confirm-modal-footer .confirm-modal-button:focus {
	box-shadow: 0 0 0;
	border: 0;
	outline: 0;
}

.wpmoly-confirm-modal .confirm-modal-footer .confirm-modal-button:hover,
.wpmoly-confirm-modal .confirm-modal-footer .confirm-modal-button:focus,
.wpmoly-confirm-modal .confirm-modal-footer .confirm-modal-button:active {
	color: #fff;
	opacity: 0.9;
}

.wpmoly-confirm-modal .confirm-modal-footer .confirm-modal-button.cancel {
	background: #e36252;
}

.wpmoly-confirm-modal .confirm-modal-footer .confirm-modal-button.confirm {
	background: #a2ce51;
}

