

.wpmoly {
	font-size: 16px;
}

.wpmoly,
.wpmoly > * {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
	line-height: normal;
	margin: 0;
	outline: 0;
	padding: 0;
}

.wpmoly:after,
.wpmoly:before {
	position: inherit;
}

.wpmoly.shortcode.block,
.wpmoly.shortcode.block .wpmoly.shortcode.item.detail.title,
.wpmoly.shortcode.block .wpmoly.shortcode.item.meta.title,
.wpmoly.shortcode.block .wpmoly.shortcode.item.meta.value {
	display: block;
}

.wpmoly.shortcode.inline-block {
	display: inline-block;
}

.wpmoly.shortcode.block .wpmoly.shortcode.item.detail.title,
.wpmoly.shortcode.block .wpmoly.shortcode.item.meta.title {
	font-weight: bold;
}

.wpmoly.shortcode.block .wpmoly.shortcode.item.meta.value {
	font-weight: normal;
}

.wpmoly.shortcode.block .wpmoly.shortcode.item.detail.value .wpmoly.language.iso.icon {
	border: 2px solid #aaa;
	border-radius: 4px;
	color: #aaa;
	display: inline-block;
	font-size: 0.65em;
	line-height: 0.8em;
	padding: 0.25em 0.3em;
	position: relative;
	text-transform: uppercase;
	top: -2px;
}

