
.wpmoly {
	font-size: 16px;
}

/*.wpmoly,
.wpmoly > * {
	box-shadow: 0 0 0 !important;
	font-family: 'Open Sans', sans-serif !important;
	font-variant: normal !important;
	font-weight: normal !important;
	line-height: normal !important;
	margin: 0 !important;
	outline: 0 !important;
	padding: 0 !important;
	text-transform: none !important;
}*/

/*.wpmoly a {
	border: 0 !important;
	box-shadow: 0 0 0 !important;
	text-transform: none !important;
}*/

.wpmoly:after,
.wpmoly:before {
	position: inherit !important;
}

.wpmoly.shortcode.block,
.wpmoly.shortcode.block .wpmoly.shortcode.item.detail.title,
.wpmoly.shortcode.block .wpmoly.shortcode.item.meta.title,
.wpmoly.shortcode.block .wpmoly.shortcode.item.meta.value {
	display: block;
}

.wpmoly.shortcode.inline-block {
	display: inline-block;
}

.wpmoly.shortcode.block .wpmoly.shortcode.item.detail.title,
.wpmoly.shortcode.block .wpmoly.shortcode.item.meta.title {
	font-weight: bold;
}

.wpmoly.shortcode.block .wpmoly.shortcode.item.meta.value {
	font-weight: normal;
}

.wpmoly.shortcode.block .wpmoly.shortcode.item.detail.value .wpmoly.language.iso.icon {
	border: 2px solid #aaa;
	border-radius: 4px;
	color: #aaa;
	display: inline-block;
	font-size: 0.65em;
	line-height: 0.8em;
	padding: 0.25em 0.3em;
	position: relative;
	text-transform: uppercase;
	top: -2px;
}

/*
 * Movie Headboxes
 */

.wpmoly.movie.headbox {
	position: relative;
}

.wpmoly.movie.headbox .header {
	background: #333;
	height: 240px;
	width: 100%;
}

.wpmoly.movie.headbox .header .backdrop-container {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.wpmoly.movie.headbox .header .backdrop {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	bottom: -15px;
	filter: blur(10px);
	-webkit-filter: blur(10px);
	left: -15px;
	opacity: 0.8;
	position: absolute;
	right: -15px;
	top: -15px;
}

.wpmoly.movie.headbox .header .angle {
	background: #fff;
	bottom: -5%;
	left: -10%;
	position: absolute;
	height: 60px;
	transform: rotate(-2deg);
	width: 120%;
}

.wpmoly.movie.headbox .header .poster {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
	height: 240px;
	left: 20px !important;
	max-width: 30%;
	top: -20px !important;
	width: 160px;
	z-index: 10;
}

.wpmoly.movie.headbox .header .titles {
	float: left;
	left: 40px !important;
	top: 100px !important;
}

.wpmoly.movie.headbox .header .titles .title,
.wpmoly.movie.headbox .header .titles .title a {
	border: 0;
	color: rgba(255, 255, 255, 0.85);
	font-size: 24px;
	font-weight: 400 !important;
}

.wpmoly.movie.headbox .header .titles .original-title {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	font-style: italic;
	font-weight: 400 !important;
	margin-bottom: 2px !important;
	margin-top: -8px !important;
}

.wpmoly.movie.headbox .header .titles .tagline {
	color: rgba(255, 255, 255, 0.6);
	font-size: 14px;
	font-weight: 600 !important;
}

.wpmoly.movie.headbox .content {
	background: #fff;
	top: -40px;
}

.wpmoly.movie.headbox .content .cast {
	float: left;
	left: 20px;
	max-width: 30%;
	top: 40px;
	width: 160px;
}

.wpmoly.movie.headbox .content .cast .director,
.wpmoly.movie.headbox .content .cast .actors {
	color: #444;
	font-size: 14px;
	font-weight: 600 !important;
	margin-bottom: 10px !important;
}

.wpmoly.movie.headbox .content .metadata {
	margin-left: 200px !important;
}

.wpmoly.movie.headbox .content .metadata .release-info {
	margin-bottom: 20px !important;
	margin-top: 4px !important;
}

.wpmoly.movie.headbox .content .metadata .release-info a {
	border: 0;
	box-shadow: 0 0 0;
	text-decoration: none;
}

.wpmoly.movie.headbox .content .metadata .release-info,
.wpmoly.movie.headbox .content .metadata .release-info a,
.wpmoly.movie.headbox .content .metadata .release-info .meta {
	color: #888;
	font-size: 14px;
	font-weight: 600 !important;
}

.wpmoly.movie.headbox .content .metadata .overview {
	color: #333;
	text-align: justify;
}









