
body.post-php.post-type-movie #postimagediv {
	text-align: center;
}

.wrap div.updated ul {
	margin: 0;
}

.wrap div.updated li {
	list-style-type: circle;
	margin-left: 2em;
}

/* WPML Movie List
 ****************************************************/

.widefat thead tr th.column-poster {
	width: 4em;
}

.visible-actors {
	display: inline;
}

.hidden-actors {
	display: none;
}

.more-actors {
	font-style: italic;
}

/* WPML Notice
 ****************************************************/

.wpml {
	background: url(../img/gradient.png) center top repeat-x;
	border-color: #5b6b8b !important;
	color: #fff;
	padding: 0.75em 1.5em !important;
	text-shadow: 0px 2px 4px #124;
}

.updated.wpml a {
	font-weight: bold;
	color: #fff;
}

.wpml a:hover {
	color: #faaeae;
}

/* #WPML-Help
 ****************************************************/

#wpml-help {
	color: #666;
	float: left;
	margin-left: 2%;
	min-height: 8em;
	width: 26%;
}

#wpml-help .ui-widget-header {
	border-radius: 4px;
	color: #444;
	margin-top: 3px;
	padding: 14px 16px;
	text-shadow: 1px 1px 0 #efefef;
}

#wpml-help p {
	text-align: justify;
}

#wpml-help ul {
	list-style: circle;
	margin-left: 24px;
}


/* #TMDb Tabs Settings
 ****************************************************/

/* Basics */

#wpml-tabs {
	border-width: 0 !important;
	float: left;
	width: 70%;
}

#wpml-tabs h4 {
	margin: 0.25em 0;
}

#wpml-tabs > ul > li > a {
	outline: none;
}

#wpml-tabs h4 .ui-icon {
	display: inline-block;
	margin: 0.25em 0 -0.25em 0;
}

#wpml-tabs .update-nag {
	padding: 1em 1.5em;
	text-align: left;
}

#wpml-tabs .update-nag .ui-icon {
	display: inline-block;
	margin: 0.25em 0 -0.25em 0;
}

#wpml-tabs .form-table {
	margin: 0;
}

#wpml-tabs p.submit {
	text-align: right;
}

/* Tab menu */

.wpml-tabs-nav {
	background: #222;
	margin-bottom: 0;
}

.wpml-tabs-nav > li {
	display: inline-block;
	margin: 0;
}

.wpml-tabs-nav > li.active a,
.wpml-tabs-nav > li.active:hover a {
	background: #2EA2CC;
}

.wpml-tabs-nav > li.active a,
.wpml-tabs-nav > li.active:hover a  {
	color: #fff;
}

.wpml-tabs-nav > li > a {
	color: #ddd;
	display: block;
	margin: 0;
	outline: none;
	padding: 0.75em 1.5em;
	text-decoration: none;
}

.wpml-tabs-nav > li > a:hover {
	color: #fff;
	text-decoration: none;
}

.wpml-tabs-nav > li:hover {
	background: #111;
}

.wpml-tabs-nav > li:hover a {
	color : #2EA2CC;
}

/* Table */

#wpml-tabs .wpml-tabs-panel {
	background: #fff;
	padding: 1em;
}

#wpml-tabs .wpml-tabs-panel.active {
	display: block !important;
}

#wpml-tabs .wpml-tabs-panel h3 {
	background: #fff;
	margin: 1em -0.75em;
	padding: 0.5em 0.75em;
}

#wpml-tabs .wpml-tabs-panel h3:first-child {
	margin-top: 0;
}

#wpml-tabs .wp-list-table a {
	color: #21759B;
}

#wpml-tabs .wp-list-table .delete a {
	color: #BC0B0B;
}

#wpml-tabs .wp-list-table a:hover,
#wpml-tabs .wp-list-table a:focus {
	color: #D54E21;
}

#wpml-tabs .wp-list-table #ID {
	width: 6em;
}

#wpml-tabs .wp-list-table #tmdb_id,
#wpml-tabs .wp-list-table #poster {
	width: 8em;
}

#wpml-tabs .wp-list-table .poster.loading {
	background: url(../img/loading.gif) 0 16px no-repeat;
}

/* Sortable/Drag n' Drop */

#wpml-tabs .default_movie_meta_sortable {
	width: 100%;
}

#wpml-tabs .default_movie_meta_sortable ul {
	display: inline-block;
	padding: 0.5rem 0;
	vertical-align: top;
	width: 49.25%;
}

#wpml-tabs .default_movie_meta_sortable .default_movie_meta_selected,
#wpml-tabs .default_movie_meta_sortable .default_movie_meta_droppable {
	border-radius: 0.15rem;
	margin: 0.25rem;
	padding: 0.5rem;
}

#wpml-tabs .default_movie_meta_sortable .default_movie_meta_selected {
	background-color: #0074A2;
	color: #fff;
	font-weight: bold;
}

#wpml-tabs .default_movie_meta_sortable .default_movie_meta_droppable {
	background-color: #333;
	color: #ddd;
}

#wpml-tabs .default_movie_meta_sortable .highlight {
	background-color: #eee;
	border: 1px solid #ccc;
	height: 2em;
	margin: 0.25rem;
}

/* Buttons & Color */

#restore_default {
	font-size: 1.2em;
	height: auto;
	padding: 0.5em 3em;
}

#api_status {
	padding: 0 0.75em;
}

#api_status.valid {
	color: #13bd43;
}

#api_status.invalid {
	color: #bd132e;
}

.wp-list-table .poster img {
	border-radius: 2px;
	height: 4em;
}


/* #TMDb Meta Box
 ****************************************************/

#tmdbstuff table,
#tmdbstuff input[type=text],
#tmdbstuff textarea {
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border-width: 1px;
	border-style: solid;
}

#tmdbstuff #tmdb_search_type,
#tmdbstuff #tmdb_search_lang {
	vertical-align: top;
}

#tmdbstuff #tmdb_query {
	height: 28px;
	max-width: 35%;
}

#tmdbstuff thead th {
	padding: 5px 8px 8px;
}

#tmdbstuff table {
	border-color: #dfdfdf;
	background-color: #f9f9f9;
	border-width: 1px;
	border-style: solid;
	border-spacing: 0;
	float: left;
	margin: 2em 0 0 0;
}

#tmdbstuff .tmdb_meta {
	width: 56%;
}

#tmdbstuff .tmdb_crew {
	margin-left: 2%;
	width: 42%;
}

#tmdbstuff thead th {
	background-color: #f1f1f1;
}

#tmdbstuff tr {
	vertical-align: top;
}

#tmdbstuff th.left,
#tmdbstuff td.left {
	padding: 0.5em 1em;
	width: 25%;
}

#tmdbstuff table input[type=text],
#tmdbstuff table select,
#tmdbstuff table textarea {
	width: 96%;
	margin: 8px;
}

#tmdb_data {
	display: none;
	margin-top: 1.5em;
}

.button-empty {
	display: none;
	float: right;
}

.tmdb_select_movie {
	display: inline-block;
	height: 18em;
	padding: 0.25em;
	text-align: center;
	width: 12.5em;
}

.tmdb_select_movie img {
	border-radius: 4px;
	box-shadow: 0 1px 1px #333;
	max-height: 16em;
	max-width: 12.5em;
}

.tmdb_select_movie em {
	display: block;
}

.button-loading {
	background-image: url(/wp-admin/images/wpspin_light.gif) !important;
	background-repeat: no-repeat !important;
}

.button.button-loading {
	background-position: 4px 4px !important;
	background-size: 14px !important;
	padding-left: 24px !important;
}

.button-small.button-loading {
	background-position: 4px 2px !important;
	background-size: 14px !important;
	padding-left: 24px !important;
}

.button-large.button-loading {
	background-position: 6px 6px !important;
	background-size: 16px !important;
	padding-left: 2.25em !important;
}

#tmdbstuff .tmdb_images_preview {
	position: relative;
	width: 100%;
}

#tmdbstuff .tmdb_images_preview td {
    
}

#tmdb_load_images {
	background: #f2f2f2;
	border-radius: 0.25em;
	display: block;
	font-style: italic;
	margin: 1em 0.5em 0.5em 0.5em;
	padding: 0.5em;
	text-decoration: none;
}

#tmdb_save_images {
	float: right !important;
	margin: 0 0.5em 0.5em 0;
	width: auto !important;
}

.tmdb_movie_images {
	background: #fff;
	border: 4px solid #ccc;
	display: inline-block;
	height: 8.75em;
	margin: 0.25% 0.5%;
	max-width: 18.5em;
	overflow: hidden;
	position: relative;
	width: 23.15%;
}

.tmdb_movie_images img {
	height: auto;
	width: 100%;
}

.tmdb_movie_images.new,
.tmdb_movie_images.selected,
.tmdb_movie_imported_image {
	background: #0074A2;
	border-color: #0074A2;
}

.tmdb_movie_images.selected img {
	opacity: 0.75;
}

.tmdb_movie_imported_image:last-child::after {
	content: ' ';
	display: block;
	position: absolute;
}

#tmdb_save_images {
	display: none;
}

#progressbar_bg {
	background: rgba(255, 255, 255, 0.75);
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

#progressbar {
	background: #C0DDE9;
	border: 2px solid #0074A2;
	border-radius: 4px;
	display: none;
	height: 28px;
	left: 50%;
	margin: -14px 0 0 -180px;
	max-width: 480px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 360px;
}

#progressbar .ui-progressbar {
	margin: 1em auto;
	position: relative;
	width: 50%;
}

#progressbar .ui-progressbar-value {
	background: #0074A2;
	border: 1px solid #0074A2;
	height: 28px;
	margin: -1px;
}

#progressbar .progress-label {
	color: #fff;
	font-weight: bold;
	left: 50%;
	margin-left: -24px;
	position: absolute;
	text-align: center;
	text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.5);
	top: 4px;
	width: 48px;
}

#tmdb_status {
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	clear: both;
	display: block;
	margin: 8px 2px;
	padding: 5px 12px;
}

#tmdb_status.success {
	border-left: 4px solid #7AD03A;
}

#tmdb_status.warning {
	border-left: 4px solid #FFBA00;
}

#tmdb_status.error {
	border-left: 4px solid #DD3D36;
}

/* #WPML 
 ****************************************************/

#wpml_import_list {
	height: 12em;
	width: 100%;
}

.wpml-import-movie-select {

}

.wpml-import-movie-select .tmdb_select_movies {
	max-height: 7.75em;
	overflow-y: scroll;
}

.wpml-import-movie-select .tmdb_select_movie {
	float: left;
	font-size: 0.9em;
	height: 12em;
	width: 6em;
}

.wpml-import-movie-select .tmdb_select_movie img {
	max-height: 8em;
	max-width: 6em;
}

/* #TMDb Meta Box
 ****************************************************/

.wpml-details {
    
}

#movie-status-display,
#movie-media-display {
	font-weight: bold;
}

#movie-status-icon {
	background: url(../img/icon-status.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#movie-media-icon {
	background: url(../img/icon-media.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#movie-rating-icon {
	background: url(../img/icon-star-half.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#movie-rating-display,
.stars {
	background-color: transparent;
	background-image: url(../img/rating.png);
	background-repeat: no-repeat;
	height: 16px;
	margin: 1em 0 1em 2em;
	min-width: 80px;
	padding: 0 8px;
}

#movie-rating-display {
	display: inline-block;
	margin: 4px 4px -4px 4px;
	padding: 0;
}

#movie-rating-display.hide-if-no-js {
	display: none;
}

.movie-rating-block {
	display: block;
}

.stars {
	cursor: pointer;
	display: inline-block;
}

.stars_labels {
	position: relative;
}

.stars_label {
	font-size: 0.9em;
	left: 82px;
	position: absolute;
	opacity: 0;
	width: 100%;
}

.stars_label.show {
	opacity: 1;
}

.stars_0_0 {background-position: 0 0;}
.stars_0_5 {background-position: 0 -16px;}
.stars_1_0 {background-position: 0 -32px;}
.stars_1_5 {background-position: 0 -48px;}
.stars_2_0 {background-position: 0 -64px;}
.stars_2_5 {background-position: 0 -80px;}
.stars_3_0 {background-position: 0 -96px;}
.stars_3_5 {background-position: 0 -112px;}
.stars_4_0 {background-position: 0 -128px;}
.stars_4_5 {background-position: 0 -144px;}
.stars_5_0 {background-position: 0 -160px;}

.inline-edit-group #movie-rating-display,
.inline-edit-group .stars {
	margin: 0.5em 0 0.5em 0.5em;
}

.inline-edit-col-wpml .inline-edit-group {
	display: inline-block;
	width: 30%;
}

.inline-edit-col-wpml .inline-edit-group .title {
	display: block;
	float: none;
}

@media (max-width: 1440px) {
	
	#tmdbstuff .tmdb_meta {
		margin-right: 1%;
		width: 49%;
	}

	#tmdbstuff .tmdb_crew {
		margin-left: 1%;
		width: 49%;
	}
}

@media (max-width: 1180px) {
	
	#wpml-tabs.ui-widget-content {
		float: none;
		width: 100%;
	}
	
	#wpml-help {
		float: none;
		margin: 1em 0 0 0;
		width: 100% !important;
	}
	
	#tmdbstuff .tmdb_meta,
	#tmdbstuff .tmdb_crew {
		float: none;
		margin: 0;
		width: 100% !important;
	}
	
	#tmdbstuff .tmdb_meta {
		margin-bottom: 8px;
	}
}