
/*
 * Grid Editor.
 */

.post-editor.grid-editor {
	min-width: 720px;
}

.post-editor.grid-editor .wp-heading-inline,
.post-editor.movie-editor .wp-heading-inline {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 2px rgba(0, 0, 0, .05);
	display: block;
	font-size: 24px;
	height: 48px;
	line-height: 48px;
	margin: 0;
	padding: 0;
}

/*
 * Grid Editor Sections.
 */

.post-editor.grid-editor .editor-section {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
	margin: 0;
	padding: 0;
}

/*
 * Grid Editor Preview Section.
 */

.post-editor.grid-editor .preview-section .wpmoly.grid {
	overflow: hidden;
}

.post-editor.grid-editor .preview-section .grid-menu {
	display: none;
}

.post-editor.grid-editor .preview-section .grid-content {
	height: 560px;
	margin-right: -15px;
	overflow: hidden;
	position: relative;
}

.post-editor.grid-editor .preview-section .grid-content:after {
	content: ' ';
	position: absolute;
}

.post-editor.grid-editor .preview-section .grid-content-inner {
	margin: 0 16px 0 -2px;
}

.post-editor.grid-editor .preview-section .grid-content,
.post-editor.grid-editor .preview-section .grid-content-inner {
	padding: 0;
}

.post-editor.grid-editor .preview-section .grid-content a {
	cursor: not-allowed;
}

/*
 * Grid Editor Meta Section.
 */

.post-editor.grid-editor .meta-section {
	margin-top: 30px;
	padding: 0;
}

.post-editor.grid-editor .panel {
	padding: 20px 0;
}

.post-editor.grid-editor .field {
	margin: 0 0 15px 0;
	padding: 0;
}

.post-editor.grid-editor .field.half-field {
	display: inline-block;
	margin: 0 15px 20px 0;
	vertical-align: top;
	width: calc( 50% - 20px );
}

.post-editor.grid-editor .field .field-label {
	color: #686d77;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}

.post-editor.grid-editor .field .field-control input[type="text"],
.post-editor.grid-editor .field .field-control input[type="date"],
.post-editor.grid-editor .field .field-control input[type="number"],
.post-editor.grid-editor .field .field-control textarea {
	box-shadow: 0 0 0;
	font-size: 16px;
	min-height: 42px;
	line-height: 42px;
	padding: 2px 12px;
	margin: 0;
	width: calc( 100% - 32px );
}

.post-editor.grid-editor .field .field-control .selectize-input.focus,
.post-editor.grid-editor .field .field-control input[type="text"]:focus,
.post-editor.grid-editor .field .field-control input[type="date"]:focus,
.post-editor.grid-editor .field .field-control input[type="number"]:focus,
.post-editor.grid-editor .field .field-control textarea:focus {
	box-shadow: 0 0 0 2px #e0eff6;
}

.post-editor.grid-editor .field.radio-image-field .field-control {

}

.post-editor.grid-editor .field.radio-image-field .field-values {
	margin: 15px -5px;
}

.post-editor.grid-editor .field.radio-image-field .field-values .field-value {
	display: inline-block;
	margin: 0 5px;
	max-width: 260px;
	width: calc( 49% - 10px );
}

.post-editor.grid-editor .field.radio-image-field .field-values .field-value input[type="radio"] {
	display: none;
}

.post-editor.grid-editor .field.radio-image-field .field-values .field-value label {
	display: block;
	position: relative;
}

.post-editor.grid-editor .field.radio-image-field .field-values .field-value img {
	border: 3px solid #e0eff6;
	height: auto;
	width: 100%;
}

.post-editor.grid-editor .field.radio-image-field .field-values .field-value input[type="radio"]:checked + label img {
	border: 3px solid #0073aa;
	margin: -2px;
	padding: 2px;
}

.post-editor.grid-editor .field.radio-image-field .field-values .field-value .value-title {
	color: #fff;
	height: auto;
	left: 50px;
	position: absolute;
	top: 25%;
}

.post-editor.grid-editor .field.checkbox-field {
	position: relative;
}

.post-editor.grid-editor .field.checkbox-field .field-label,
.post-editor.grid-editor .field.checkbox-field .field-description {
	margin-left: 40px;
}

.post-editor.grid-editor .field.checkbox-field .field-control {
	position: absolute;
	top: 0;
	width: 42px;
}

.post-editor.grid-editor .field.checkbox-field .field-control input[type="checkbox"] {
	display: none;
	height: 1px;
	position: absolute;
	width: 1px;
}

.post-editor.grid-editor .field.checkbox-field .field-control label:before,
.post-editor.grid-editor .field.checkbox-field .field-control label:after {
	content: ' ';
	position: absolute;
}

.post-editor.grid-editor .field.checkbox-field .field-control label:before {
	background: #686d77;
	border: 2px solid #686d77;
	border-radius: 16px;
	height: 12px;
	margin: 2px 0 0 2px;
	width: 20px;
}

.post-editor.grid-editor .field.checkbox-field .field-control label:after {
	background: #fff;
	border-radius: 12px;
	height: 12px;
	margin: 4px 0 0 4px;
	width: 12px;
}

.post-editor.grid-editor .field.checkbox-field .field-control label:hover::before {
	background: #a1a3a8;
	border-color: #a1a3a8;
}

.post-editor.grid-editor .field.checkbox-field .field-control input:checked + label:before {
	background: #0073aa;
	border-color: #0073aa;
}

.post-editor.grid-editor .field.checkbox-field .field-control input:checked + label:after {
	margin-left: 12px;
}

.post-editor.grid-editor .field.checkbox-field .field-control label:after {
	transition: all .3s ease;
}

/*
 * Grid Parameters Block.
 */

.editor-block.grid-parameters-block {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
	padding: 0;
	width: 100%;
}

.editor-block.grid-parameters-block -content {
	margin: 20px 0 10px;
}

.editor-block.grid-parameters-block .grid-type,
.editor-block.grid-parameters-block .grid-mode,
.editor-block.grid-parameters-block .grid-theme {
	position: relative;
}

.editor-block.grid-parameters-block .grid-type,
.editor-block.grid-parameters-block .grid-modes,
.editor-block.grid-parameters-block .grid-themes {
}

.editor-block.grid-parameters-block .grid-modes,
.editor-block.grid-parameters-block .grid-themes {
	display: none;
	margin-left: 20px;
}

.editor-block.grid-parameters-block .grid-type .type-name,
.editor-block.grid-parameters-block .grid-mode .mode-name,
.editor-block.grid-parameters-block .grid-theme .theme-name {
	background: #fff;
	border: 1px solid #e5e5e5;
	color: #686d77;
	cursor: pointer;
	height: 48px;
	line-height: 48px;
	margin: 2px 0;
}

.editor-block.grid-parameters-block .grid-type .type-name a,
.editor-block.grid-parameters-block .grid-mode .mode-name a,
.editor-block.grid-parameters-block .grid-theme .theme-name a {
	display: block;
	padding: 0 20px;
}

.editor-block.grid-parameters-block .grid-type .type-name span,
.editor-block.grid-parameters-block .grid-mode .mode-name span,
.editor-block.grid-parameters-block .grid-theme .theme-name span {
	height: 20px;
	line-height: 20px;
	position: absolute;
	right: 20px;
	top: 12px;
}

.editor-block.grid-parameters-block .grid-type.active .type-name,
.editor-block.grid-parameters-block .grid-mode.active .mode-name,
.editor-block.grid-parameters-block .grid-theme.active .theme-name {
	background: #0073aa;
	border: 1px solid #006a9c;
	color: #fff;
	font-weight: 500;
}

.editor-block.grid-parameters-block .grid-type.default .type-name,
.editor-block.grid-parameters-block .grid-mode.default .mode-name,
.editor-block.grid-parameters-block .grid-theme.default .theme-name {
	background: #fff;
	border: 1px solid #006a9c;
	color: #006a9c;
	font-weight: 500;
}

.editor-block.grid-parameters-block .grid-type.active .type-name a,
.editor-block.grid-parameters-block .grid-mode.active .mode-name a,
.editor-block.grid-parameters-block .grid-theme.active .theme-name a {
	color: #fff;
}

.editor-block.grid-parameters-block .grid-type.default .type-name a,
.editor-block.grid-parameters-block .grid-mode.default .mode-name a,
.editor-block.grid-parameters-block .grid-theme.default .theme-name a {
	color: #006a9c;
}

.editor-block.grid-parameters-block .grid-type.active .grid-modes,
.editor-block.grid-parameters-block .grid-mode.active .grid-themes {
	display: block;
}
