
/* Import editor widget */

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor {}

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content {}

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper {}

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper .import-editor-input,
.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper textarea {
	border: 1px solid #e5e5e5;
	border-radius: 4px;
	min-height: 80px;
	padding: 10px;
	width: 100%;
}

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper .import-editor-input {
	width: calc( 100% - 22px );
}

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper .import-editor-input .import-editor-item {
	align-items: center;
	background: var(--wpmovielibrary-purple-darker-10, var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9))) !important;
	border-color: var(--wpmovielibrary-purple-darker-10, var(--wp-components-color-accent, var(--wp-admin-theme-color, #3858e9))) !important;
	border-radius: 4px;
	color: #fff;
	display: inline-flex;
	flex-shrink: 0;
	height: 24px;
	margin: 2px;
	padding: 2px 8px;
	white-space: nowrap;
}

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper .import-editor-input .import-editor-item span {}

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper .import-editor-input .import-editor-item button {
	background: transparent;
	border: 0;
	border-radius: 4px;
	color: #fff;
	cursor: pointer;
	display: inline-flex;
	font-size: 16px;
	font-weight: 600;
	height: 20px;
	justify-content: center;
	padding: 0;
	margin-left: 6px;
}

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper .import-editor-input input {
	border: 0;
	box-shadow: none;
	color: #666;
	height: 24px;
	text-overflow: ellipsis;
}

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper .import-editor-input input:active,
.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-panels .wpmovielibrary-panel.wpmovielibrary-import-editor .wpmovielibrary-panel-content .import-editor-input-wrapper .import-editor-input input:focus {
	outline: none;
}

/* Import Queue Widget */

.wpmovielibrary-wrapper .wpmovielibrary-content .wpmovielibrary-sidebar .wpmovielibrary-widget.queue-manager-widget {
	flex-grow: 1;
}