/*
 * Metabox
 */

.wpmoly-tabbed-metabox {
	position: relative;
}

.wpmoly-tabbed-metabox .wpmoly-metabox-menu {
	float: left;
	margin-top: 4px;
	position: relative;
	width: 180px;
}

.wpmoly-tabbed-metabox .wpmoly-metabox-menu {
	list-style: none;
}

.wpmoly-tabbed-metabox .wpmoly-metabox-menu .tab a {
	border: 1px solid transparent;
	box-shadow: 0 0 0;
	display: block;
	height: 42px;
	line-height: 42px;
	margin-right: -1px;
	padding: 0 20px;
	text-decoration: none;
}

.wpmoly-tabbed-metabox .wpmoly-metabox-menu .tab.active a {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-right: 1px solid #fff;
	box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.04);
}

.wpmoly-tabbed-metabox .wpmoly-metabox-content {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
	float: left;
	padding: 10px 30px;
	width: calc( 100% - 242px );
}

.wpmoly-tabbed-metabox .wpmoly-metabox-content .panel {
	display: none;
}

.wpmoly-tabbed-metabox .wpmoly-metabox-content .panel.active {
	display: block;
}

.wpmoly-tabbed-metabox .wpmoly-metabox-content .panel h4 {
	border-bottom: 1px solid #e5e5e5;
	padding: 0 4px 6px 4px;
}

@media all and (max-width:960px) {

	.wpmoly-tabbed-metabox .wpmoly-metabox-menu {
		width: 150px;
	}

	.wpmoly-tabbed-metabox .wpmoly-metabox-content {
		width: calc( 100% - 212px );
	}
}

@media all and (max-width:640px) {

	.wpmoly-tabbed-metabox .wpmoly-metabox-menu {
		width: 48px;
	}

	.wpmoly-tabbed-metabox .wpmoly-metabox-menu .tab .title {
		display: none;
	}

	.wpmoly-tabbed-metabox .wpmoly-metabox-content {
		width: calc( 100% - 110px );
	}
}
