
/*
 * Movie Browser Content.
 */

.post-browser.movie-browser .movie-browser-content .movie {
	display: inline-block;
	margin: 6px 8px 16px;
	vertical-align: top;
}

.post-browser.movie-browser .movie-browser-content.loading .movie {
	opacity: .25;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster {
	/*background-color: #373e48;*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3px;
	overflow: visible;
	position: relative;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-status,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-rating {
	background: rgba(35, 62, 101, 0.8);
	bottom: 0;
	border-radius: 3px;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-status,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-rating,
.post-browser.movie-browser .movie-browser-content .movie.edit-status .movie-poster:hover .edit-menu,
.post-browser.movie-browser .movie-browser-content .movie.edit-rating .movie-poster:hover .edit-menu {
	display: none;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster:hover .edit-menu,
.post-browser.movie-browser .movie-browser-content .movie.edit-status .movie-poster .edit-status,
.post-browser.movie-browser .movie-browser-content .movie.edit-rating .movie-poster .edit-rating {
	display: block;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button {
	opacity: 1;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-status .button.dismiss,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-rating .button.dismiss {
	background: transparent;
	box-shadow: 0 0 0;
	border: 0;
	border-radius: 0;
	color: #fff;
	position: absolute;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.edit,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-status .button.dismiss,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-rating .button.dismiss {
	color: #fff;
	left: auto;
	right: 0;
	top: 0;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.edit,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.restore {
	bottom: auto;
	left: 0;
	right: auto;
	top: 0;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.trash,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.delete {
	bottom: auto;
	left: auto;
	right: 0;
	top: 0;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.preview {
	color: #0073aa;
	background: #fff;
	border-radius: 50%;
	left: calc( 50% - 20px );
	right: auto;
	top: calc( 50% - 20px );
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.rating,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.status {
	top: auto;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.rating {
	bottom: 0;
	color: #e0bd00;
	display: none;
	left: auto;
	right: 0;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.status {
	bottom: 0;
	color: #aaa;
	display: none;
	left: 0;
	right: auto;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.status.available {
	color: #3de000;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.status.unavailable {
	color: #e00020;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.status.loaned {
	color: #e0bd00;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-menu .button.status.scheduled {
	color: #00b1e0;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-rating input,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-status select,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-rating .button.apply,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-status .button.apply {
	background: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	font-size: 16px;
	font-weight: 300;
	height: 42px;
	left: 10%;
	position: absolute;
	text-align: center;
	top: calc( 50% - 16px );
	width: 80%;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-status .selectize-control {
	left: 10%;
	position: absolute;
	top: calc( 50% - 25px );
	width: 80%;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-status .selectize-input {
	border-radius: 3px;
	min-width: auto;
	width: calc( 100% - 30px );
}

.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-status .button.apply,
.post-browser.movie-browser .movie-browser-content .movie .movie-poster .edit-rating .button.apply {
	bottom: 6%;
	color: #373e48;
	font-size: 12px;
	font-weight: 500;
	height: 32px;
	line-height: 32px;
	padding: 0;
	text-transform: uppercase;
	top: auto;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-title {
	margin: 8px auto 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-title a {
	color: #373e48;
	font-size: 14px;
	font-weight: 600;
	text-decoration: none;
}

.post-browser.movie-browser .movie-browser-content .movie:hover .movie-title a,
.post-browser.movie-browser .movie-browser-content .movie .movie-title a:hover {
	color: #0073aa;
}

.post-browser.movie-browser .movie-browser-content .movie,
.post-browser.movie-browser .movie-browser-content .movie > *,
.post-browser.movie-browser .movie-browser-content .movie:hover,
.post-browser.movie-browser .movie-browser-content .movie:hover > * {
	transition: all .2s ease;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-year {
	float: right;
	font-size: 12px;
	margin-top: 8px;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-genres {
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post-browser.movie-browser .movie-browser-content .movie .movie-runtime {
	font-size: 12px;
}

/*
 * Movie Modal.
 */

.movie-modal {
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.movie-modal.closed {
	display: none;
	opacity: 0;
	visibility: hidden;
	z-index: -1;
}

.movie-modal.opened {
	display: block;
	opacity: 1;
	visibility: visible;
	z-index: 99999;
}

.movie-modal-backdrop {
	background: #000;
	bottom: 0;
	left: 0;
	opacity: .7;
	position: absolute;
	right: 0;
	top: 0;
}

.movie-modal-content {
	background: #fff;
	bottom: 30px;
	box-shadow: 0 0 20px #000;
	left: 30px;
	position: absolute;
	right: 30px;
	top: 30px;
}

.movie-modal .movie-modal-editor,
.movie-modal .movie-modal-preview {
	display: none;
}

.movie-modal.opened.edit-mode .movie-modal-editor,
.movie-modal.opened.preview-mode .movie-modal-preview {
	display: block;
}

.movie-modal .movie-modal-loading {
	background-color: rgba(255, 255, 255, .75);
	background-image: url(../../../public/assets/img/loading.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 48px 48px;
	bottom: 30px;
	content: ' ';
	display: none;
	left: 30px;
	position: absolute;
	right: 30px;
	top: 30px;
	z-index: 9999;
}

.movie-modal.loading .movie-modal-loading {
	display: block;
}

/*
 * Movie Modal Preview mode.
 */

.movie-modal-content .movie-preview-poster {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	left: 0;
	position: absolute;
	width: 40%;
	top: 0;
}

.movie-modal-content .movie-preview-poster .movie-preview-navigation {
	height: 100px;
	position: absolute;
	right: 0;
	top: 140px;
	width: 50px;
}

.movie-modal-content .movie-preview-poster .movie-preview-navigation .button {
	background: #373e48;
	border: 0;
	box-shadow: 0 0 0;
	border-radius: 0;
	color: #aaa;
	height: 50px;
	line-height: 50px;
	opacity: .95;
	position: absolute;
	transform: none;
	width: 50px;
}

.movie-modal-content .movie-preview-poster .movie-preview-navigation .button.previous {
	top: 0;
}

.movie-modal-content .movie-preview-poster .movie-preview-navigation .button.next {
	bottom: 0;
}

.movie-modal-content .movie-preview-poster .movie-preview-navigation .button:hover {
	background: #0073aa;
	color: #fff;
	opacity: 1;
}

.movie-modal-content .movie-preview-poster .movie-preview-navigation .button:active {
	background: #005e8c;
}

.movie-modal-content .movie-preview-info {
	height: 100%;
	right: 0;
	position: absolute;
	width: 60%;
	top: 0;
}

.movie-modal-content .movie-preview-info .movie-preview-header {
	height: 60px;
	padding: 160px 30px 20px 30px;
	position: relative;
}

.movie-modal-content .movie-preview-info .movie-preview-header.with-background {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: hidden;
	position: absolute;
	width: calc( 100% - 60px );
}

.movie-modal-content .movie-preview-info .movie-preview-header.with-background:before {
	background: #162329;
	bottom: 0;
	content: '';
	left: 0;
	opacity: .35;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 0;
}

.movie-modal-content .movie-preview-info .movie-preview-header.with-background:after {
	box-shadow: 0 -16px 24px #162329, 0 -64px 48px #162329;
	bottom: -120px;
	content: '';
	height: 120px;
	left: -10%;
	position: absolute;
	width: 120%;
	z-index: 1;
}

.movie-modal-content .movie-preview-info .movie-preview-header.with-background .movie-title,
.movie-modal-content .movie-preview-info .movie-preview-header.with-background .movie-title .year,
.movie-modal-content .movie-preview-info .movie-preview-header.with-background .movie-genres {
	position: relative;
	z-index: 2;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-title {
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	margin: 0;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-title .year {
	font-size: 15px;
	font-weight: 400;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-genres {
	color: #e5e5e5;
	font-size: 14px;
	font-weight: 500;
	margin: 6px 0 0;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-genres a {
	color: #e5e5e5;
	text-decoration: none;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-genres a:hover {
	color: #fff;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-preview-header-navigation {
	bottom: 15px;
	position: absolute;
	right: 15px;
	top: 15px;
	width: 50px;
	z-index: 10;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-preview-header-navigation .button {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
	border-radius: 0;
	color: #aaa;
	height: 50px;
	line-height: 50px;
	position: absolute;
	width: 50px;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-preview-header-navigation .button:hover {
	color: #ccc;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-preview-header-navigation .button.close {
	top: 0;
}

.movie-modal-content .movie-preview-info .movie-preview-header .movie-preview-header-navigation .button.edit {
	bottom: 0;
}

.movie-modal-content .movie-preview-info .movie-preview-content {
	bottom: 0;
	left: 0;
	overflow-y: scroll;
	position: absolute;
	right: 0;
	top: 240px;
}

.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-details,
.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-meta {
	font-size: 16px;
	padding: 20px 30px;
}

.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-details .movie-detail {
	display: inline-block;
	margin: 5px 0;
	width: 49.5%;
}

.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-meta .movie-meta-label,
.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-details .movie-detail-label {
	color: #373e48;
	display: inline-block;
	font-weight: 600;
	vertical-align: top;
	width: 120px;
}

.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-meta .movie-meta-value,
.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-details .movie-detail-value {
	display: inline-block;
	vertical-align: top;
	width: calc( 100% - 140px );
}

.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-meta {
	border-top: 1px solid #f2f2f2;
}

.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-meta .movie-meta.movie-overview h4 {
}

.movie-modal-content .movie-preview-info .movie-preview-content .movie-preview-meta .movie-meta.movie-overview p {
	font-size: 16px;
	font-weight: 400;
}

/*
 * Movie Modal Editor Mode.
 */

.movie-modal-content .movie-editor-menu {
	border-bottom: 1px solid #e5e5e5;
	height: 50px;
	overflow: hidden;
}

.movie-modal-content .movie-editor-menu .movie-editor-navigation {
	float: right;
	height: 50px;
}

.movie-modal-content .movie-editor-menu .movie-editor-navigation .spinner {
	background-position: center right;
	color: #888;
	float: left;
	font-size: 12px;
	line-height: 48px;
	height: 50px;
	margin: 0 15px;
	width: 80px;
}

.movie-modal.saving .movie-modal-content .movie-editor-menu .movie-editor-navigation .spinner {
	display: block;
	opacity: 1;
	visibility: visible;
}

.movie-modal-content .movie-editor-menu .movie-editor-navigation .button {
	background: #fff;
	border: 0;
	border-left: 1px solid #e5e5e5;
	border-radius: 0;
	box-shadow: 0 0 0;
	float: left;
	font-size: 16px;
	height: 50px;
	line-height: 50px;
	margin: 0 0 0 2px;
	width: 50px;
}

.movie-modal-content .movie-editor-menu .movie-editor-navigation .button:hover {
	color: #0073aa;
}

.movie-modal-content .movie-editor-menu .movie-editor-navigation .button:active {
	color: #005e8c;
}

.movie-modal-content .movie-editor-images {
	bottom: 0;
	left: 0;
	overflow: hidden;
	position: absolute;
	top: 51px;
	width: 25%;
}

.movie-modal-content .movie-editor-images .movie-editor-images-inner {
	height: 100%;
	margin-right: -15px;
	overflow-x: auto;
}

.movie-modal-content .movie-editor-images .movie-posters,
.movie-modal-content .movie-editor-images .movie-backdrops {
	margin: 0 15px 0 10px;
	padding: 20px 0;
}

.movie-modal-content .movie-editor-images .movie-poster,
.movie-modal-content .movie-editor-images .movie-backdrop {
	background-color: #373e48;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	float: left;
}

.movie-modal-content .movie-editor-images .movie-poster.first-poster {
	width: 57.25%;
}

.movie-modal-content .movie-editor-images .movie-poster.second-poster {
	width: 42.75%;
}

.movie-modal-content .movie-editor-images .movie-poster.third-poster,
.movie-modal-content .movie-editor-images .movie-poster.fourth-poster,
.movie-modal-content .movie-editor-images .movie-poster.fifth-poster,
.movie-modal-content .movie-editor-images .movie-poster.more-poster {
	width: 21.375%;
}

.movie-modal-content .movie-editor-images .movie-poster.more-poster a,
.movie-modal-content .movie-editor-images .movie-backdrop.more-backdrop a {
	background: #0073aa;
	box-shadow: 0 0 0;
	color: #eee;
	display: block;
	font-size: 11px;
	font-weight: 500;
	height: 100%;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	width: 100%;
}

.movie-modal-content .movie-editor-images .movie-poster.more-poster a:hover,
.movie-modal-content .movie-editor-images .movie-backdrop.more-backdrop a:hover {
	background: #0b86c2;
	color: #fff;
}

.movie-modal-content .movie-editor-images .movie-poster.more-poster a:active,
.movie-modal-content .movie-editor-images .movie-backdrop.more-backdrop a:active {
	background: #005e8c;
}

.movie-modal-content .movie-editor-images .movie-backdrops {
	border-top: 1px solid #e5e5e5;
}

.movie-modal-content .movie-editor-images .movie-backdrop {

}

.movie-modal-content .movie-editor-images .movie-backdrop.first-backdrop,
.movie-modal-content .movie-editor-images .movie-backdrop.third-backdrop {
	width: 44%;
}

.movie-modal-content .movie-editor-images .movie-backdrop.second-backdrop {
	width: 56%;
}

.movie-modal-content .movie-editor-images .movie-backdrop.fourth-backdrop,
.movie-modal-content .movie-editor-images .movie-backdrop.fifth-backdrop,
.movie-modal-content .movie-editor-images .movie-backdrop.more-backdrop {
	width: 18.6%;
}

.movie-modal-content .movie-editor-meta {
	border-left: 1px solid #e5e5e5;
	border-right: 1px solid #e5e5e5;
	bottom: 0;
	left: calc( 25% - 1px );
	overflow: hidden;
	position: absolute;
	right: calc( 25% - 1px );
	top: 51px;
}

.movie-modal-content .movie-editor-meta .movie-editor-meta-inner {
	height: 100%;
	margin-right: -15px;
	overflow-x: auto;
}

.movie-modal-content .movie-editor-meta .movie-metadata {
	padding: 20px 20px 20px 30px;
}

.movie-modal-content .movie-editor-meta .field-control input,
.movie-modal-content .movie-editor-meta .field-control textarea {
	width: calc( 100% - 22px ) !important;
}

.movie-modal-content .movie-editor-meta .half-field .field-control input,
.movie-modal-content .movie-editor-meta .half-field .field-control textarea {
	width: 100% !important;
}

.movie-modal-content .movie-editor-details {
	bottom: 0;
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 51px;
	width: 25%;
}

.movie-modal-content .movie-editor-details .movie-editor-details-inner {
	height: 100%;
	margin-right: -15px;
	overflow-x: auto;
}

.movie-modal-content .movie-editor-details .movie-details {
	margin: 0 45px 0 30px;
	padding: 20px 0;
}

.movie-modal-content .movie-editor-details .movie-details .selectize-control {
	margin-top: 0;
}

.movie-modal-content .movie-editor-details .field-control .selectize-input {
	width: calc( 100% - 28px ) !important;
}

@media screen and (max-width:1280px) {

	.movie-modal-content .movie-preview-poster {
		width: 34%;
	}

	.movie-modal-content .movie-preview-info .movie-preview-content {
		top: 200px;
	}

	.movie-modal-content .movie-preview-poster .movie-preview-navigation {
		top: 100px;
	}

	.movie-modal-content .movie-preview-info .movie-preview-header {
		padding-top: 120px;
	}

	.movie-modal-content .movie-preview-info {
		width: 66%;
	}

}

@media screen and (max-width:640px), screen and (max-height:400px) {

	.movie-modal-content {
		bottom: 0;
		left: 0;
		right: 0;
		top: 0;
	}

}
