
/*
 * Person Browser Content.
 */

.post-browser.person-browser .person-browser-content .person {
	display: inline-block;
	margin: 6px 8px 16px;
	vertical-align: top;
}

.post-browser.person-browser .person-browser-content.loading .person {
	opacity: .25;
}

.post-browser.person-browser .person-browser-content .person .person-picture {
	/*background-color: #373e48;*/
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3px;
	overflow: visible;
	position: relative;
	transform: translateZ(0);
}

.post-browser.person-browser .person-browser-content .person .person-picture .edit-menu {
	background: rgba(35, 62, 101, 0.8);
	bottom: 0;
	border-radius: 3px;
	left: 0;
	mix-blend-mode: screen;
	position: absolute;
	right: 0;
	top: 0;
}

.post-browser.person-browser .person-browser-content .person .person-picture .edit-menu {
	display: none;
}

.post-browser.person-browser .person-browser-content .person .person-picture:hover .edit-menu {
	display: block;
}

.post-browser.person-browser .person-browser-content .person .person-picture .edit-menu .button {
	opacity: 1;
}
