/*
- * Post Browser Heading.
- */

.wpmoly-browser-heading {
	margin-bottom: 10px;
}

.wpmoly-browser-heading .wp-heading-inline {
	font-weight: 300;
}

/*
- * Post Browser Menu.
- */

.post-browser .post-browser-menu {
	background: #fff;
	border: 1px solid #e1e2e6;
	box-shadow: 0 1px 0 rgba(0, 0, 0, .05);
	height: 48px;
	line-height: 48px;
	padding: 0 12px;
	position: relative;
}

.post-browser .post-browser-menu .button {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
	border-radius: 0;
	color: #686d77;
	display: inline-block;
	font-size: 17px;
	height: 48px;
	line-height: 48px;
	padding: 0;
	text-align: center;
	width: 32px;
}

/*
 * Post Browser Content.
 */

.post-browser .post-browser-content {
	margin: 0 -6px 20px;
	min-height: 240px;
	position: relative;
}

.post-browser .post-browser.loading .loader {
	background-image: url(../../../public/assets/img/loading.svg);
	background-position: center 96px;
	background-repeat: no-repeat;
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 1;
}

.post-browser .post-browser-content .post {
	display: inline-block;
	margin: 6px 8px 16px;
	max-width: 200px;
	width: calc( 20% - 16px );
}

.post-browser .post-browser.loading .post {
	opacity: .25;
}

.post-browser .post-browser-content .post-browser:hover {
	opacity: .9;
}

.post-browser .post-browser-content .post .post-thumbnail {
	background-color: #373e48;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	border-radius: 3px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .2);
	overflow: hidden;
	position: relative;
}

.post-browser .post-browser-content .post .post-thumbnail .button {
	color: #fff;
	height: 40px;
	line-height: 40px;
	opacity: 0;
	position: absolute;
	text-align: center;
	top: 5px;
	width: 40px;
}

.post-browser .post-browser-content .post .post-thumbnail .button.edit,
.post-browser .post-browser-content .post .post-thumbnail .button.unpublish,
.post-browser .post-browser-content .post .post-thumbnail .button.restore {
	left: 5px;
}

.post-browser .post-browser-content .post .post-thumbnail .button.trash,
.post-browser .post-browser-content .post .post-thumbnail .button.delete {
	right: 5px;
}

.post-browser .post-browser-content .post:hover .post-thumbnail .button {
	opacity: .8;
}

.post-browser .post-browser-content .post .post-thumbnail .button:hover {
	opacity: 1;
}

.post-browser .post-browser-content .post.status-draft .post-thumbnail {
	background: #46575c;
}

.post-browser .post-browser-content .post.status-trash .post-thumbnail {
	background: #503333;
}

.post-browser .post-browser-content .post .post-thumbnail .confirm {
	background: #d22953;
	color: #fff;
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 10;
}

.post-browser .post-browser-content .post.confirmation-asked .post-thumbnail .confirm {
	display: block;
}

.post-browser .post-browser-content .post .post-thumbnail .confirm p {
	margin: 60px 0 0;
	text-align: center;
}

.post-browser .post-browser-content .post .post-thumbnail .confirm .button {
	display: block;
	font-size: 14px;
	font-weight: 600;
	margin: 0 auto;
	padding: 0;
	text-transform: uppercase;
	width: auto;
}

.post-browser .post-browser-content .post .post-thumbnail .confirm .button.dismiss {
	font-size: 14px;
	height: 20px;
	line-height: 20px;
	opacity: .5;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 20px;
}

.post-browser .post-browser-content .post .post-thumbnail .confirm .button.delete {
	position: static !important;
}

.post-browser .post-browser-content .post .post-thumbnail a {
	box-shadow: 0 0 0;
	display: block;
	height: 100%;
	position: relative;
	width: 100%;
}

.post-browser .post-browser-content .post .post-title {
	color: #373e48;
	font-size: 14px;
	font-weight: 600;
	margin: 8px auto 0;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.post-browser .post-browser-content .post .post-title a {
	color: #373e48;
	text-decoration: none;
}

.post-browser .post-browser-content .post:hover .post-title a,
.post-browser .post-browser-content .post .post-title a:hover {
	color: #0073aa;
}

.post-browser .post-browser-content .post,
.post-browser .post-browser-content .post:hover,
.post-browser .post-browser-content .post .post-title a,
.post-browser .post-browser-content .post .post-title a:hover {
	transition: all .2s ease;
}

/*
 * Post Browser Pagination Menu.
 */

.post-browser .post-browser-pagination {
	font-size: 0.85em;
	margin: 0 auto;
	padding: 0;
	text-align: center;
}

.post-browser .post-browser-pagination .pagination-menu {
	display: inline-block;
	line-height: 48px;
	vertical-align: middle;
}

.post-browser .post-browser-pagination .current-page,
.post-browser .post-browser-pagination .total-pages {
	margin: 0 .325rem;
}

.post-browser .post-browser-pagination input {
	background: #fff;
	border: 1px solid #ccc;
	box-shadow: 0 0 0;
	color: #222;
	padding: 4px;
	text-align: center;
	width: auto;
}

.post-browser .post-browser-pagination .button {
	height: 48px;
	line-height: 48px;
	padding: 0;
	width: 48px;
}

.post-browser .post-browser-pagination .button[disabled] {
	background: #fff !important;
	color: #e3e7f0 !important;
}

/**
 * Context Menu.
 */

.post-browser-context-menu {
	position: absolute;
	z-index: 9999;
}

.post-browser-context-menu .context-menu-content {
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 2px 15px rgba( 0, 0, 0, .5 );
	padding: 5px 0;
	width: 200px;
}

.post-browser-context-menu .context-menu-item {
	align-items: center;
	cursor: pointer;
	display: flex;
	flex-wrap: wrap;
	padding: 5px 15px;
	position: relative;
}

.post-browser-context-menu .context-menu-item:hover {
	background: #f2f2f2;
	color: #00a0d2;
}

.post-browser-context-menu .context-menu-item.context-menu-separator {
	background: #e5e5e5;
	height: 1px;
	margin: 5px 0;
	padding: 0;
}

.post-browser-context-menu .context-menu-item .context-menu-icon {
	height: 24px;
	margin-right: 6px;
	width: 24px;
}

.post-browser-context-menu .context-menu-item .context-menu-icon .wpmolicon {
	display: block;
	margin: 2px 0 0;
}

.post-browser-context-menu .context-menu-item .context-menu-text {
	flex-grow: 1;
}

.post-browser-context-menu .context-menu-item .context-menu-text + .context-menu-icon {
	margin: 0 -5px 0;
}

.post-browser-context-menu .context-menu-item .context-menu-sub-menu {
	display: none;
	position: absolute;
	right: -200px;
	top: 0;
	z-index: -1;
}

.post-browser-context-menu .context-menu-item:hover .context-menu-sub-menu {
	display: block;
}

.post-browser-context-menu .context-menu-item .context-sub-menu-content {
	border-radius: 0 2px 2px 0;
}

.post-browser-context-menu .context-menu-item:hover .context-sub-menu-content .context-menu-item {
	background: transparent;
	color: #444;
}

.post-browser-context-menu .context-menu-item:hover .context-sub-menu-content .context-menu-item.active {
	background: #f2f2f2;
	font-weight: 500;
}

.post-browser-context-menu .context-menu-item:hover .context-sub-menu-content .context-menu-item:hover {
	background: #f2f2f2;
	color: #00a0d2;
}



/*
 * Widgets.
 */

.post-editor-block .button {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0;
}

.post-editor-block p.description {
	color: #888;
	font-size: 12px;
	margin: 10px 0;
}

.post-editor-block label {
	color: #686d77;
	display: block;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}

.post-editor-block input[type="text"] {
	box-shadow: 0 0 0;
	font-size: 16px;
	min-height: 32px;
	line-height: 32px;
	padding: 0 12px;
	margin: 0;
	width: 100%;
}

.post-editor-block input[type="text"]:focus {
	box-shadow: 0 0 0 2px #e0eff6;
}

.post-editor-block button.delete,
.post-editor-block button.submit {
	background: #686d77;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 0 0;
	color: #fff;
	display: block;
	height: 32px;
	line-height: 32px;
	margin: 20px 0 0;
	padding: 0;
	width: 100%;
}

.post-editor-block button.delete:hover {
	background: #da1f1f;
	color: #fff;
	cursor: pointer;
}

.post-editor-block button.submit:hover {
	background: #0073aa;
	color: #fff;
	cursor: pointer;
}

.post-editor-block button.delete:active,
.post-editor-block button.submit:active {
	position: relative;
	top: 1px;
}

.post-editor-block button[disabled].delete,
.post-editor-block button[disabled].submit {
	background: #686d77;
	cursor: default;
	opacity: .5;
	position: static;
}

/**
 * Discover Widget.
 */

.discover-posts-editor-block .posts-search {
	margin-top: 1rem;
	position: relative;
}

.discover-posts-editor-block .posts-search .search-input {

}

.discover-posts-editor-block .posts-search .button.close,
.discover-posts-editor-block .posts-search .button.search {
	color: #888;
	line-height: 32px;
	height: 32px;
	position: absolute;
	right: 1px;
	top: 1px;
	width: 32px;
}

.discover-posts-editor-block .posts-search .button.close:hover,
.discover-posts-editor-block .posts-search .button.search:hover {
	color: #00a0d2;
}

.discover-posts-editor-block .posts-search .button.close,
.discover-posts-editor-block.searching .posts-search .button.search {
	display: none;
}

.discover-posts-editor-block.searching .posts-search .button.close,
.discover-posts-editor-block .posts-search .button.search {
	display: block;
}

.discover-posts-editor-block .classic-posts-browser {
	font-size: 11px;
	margin: 0;
	text-align: center;
}

/*
 * Drafts/Trash Widgets.
 */

.post-trash-editor-block .posts-list,
.post-drafts-editor-block .posts-list {
	margin: 10px 0;
	max-height: 128px;
	overflow: auto;
	padding: 0 10px 0 0;
	position: relative;
}

.post-trash-editor-block.loading .posts-list,
.post-drafts-editor-block.loading .posts-list,
.post-trash-editor-block.emptying .posts-list,
.post-drafts-editor-block.emptying .posts-list {
	overflow: hidden;
}

.post-trash-editor-block.loading .posts-list:after,
.post-drafts-editor-block.loading .posts-list:after,
.post-trash-editor-block.emptying .posts-list:after,
.post-drafts-editor-block.emptying .posts-list:after {
	background-color: rgba(255, 255, 255, .6);
	background-image: url(../../../public/assets/img/loading.svg);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: 32px 32px;
	bottom: 0;
	content: ' ';
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}

.post-trash-editor-block .posts-list .list-item,
.post-drafts-editor-block .posts-list .list-item {
	line-height: 28px;
	padding: 0 8px;
	position: relative;
}

.post-trash-editor-block .posts-list .list-item:nth-child(odd),
.post-drafts-editor-block .posts-list .list-item:nth-child(odd) {
	background: #f8f8f8;
}

.post-trash-editor-block .posts-list .list-item a,
.post-drafts-editor-block .posts-list .list-item a {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: calc( 100% - 48px );
}

.post-trash-editor-block .posts-list .list-item button,
.post-drafts-editor-block .posts-list .list-item button {
	font-size: 14px;
	left: auto;
	opacity: .5;
	position: absolute;
	top: 2px;
}

.post-trash-editor-block .posts-list .list-item:hover button,
.post-drafts-editor-block .posts-list .list-item:hover button {
	opacity: 1;
}

.post-trash-editor-block .posts-list .list-item button.restore,
.post-drafts-editor-block .posts-list .list-item button.publish {
	right: 24px;
}

.post-trash-editor-block .posts-list .list-item button.restore:hover,
.post-drafts-editor-block .posts-list .list-item button.publish:hover {
	color: #0073aa;
}

.post-trash-editor-block .posts-list .list-item button.remove,
.post-drafts-editor-block .posts-list .list-item button.remove {
	right: 0;
}

.post-trash-editor-block .posts-list .list-item button.remove:hover,
.post-drafts-editor-block .posts-list .list-item button.remove:hover {
	color: #da1f1f;
}

.post-trash-editor-block .confirm,
.post-drafts-editor-block .confirm {
	background: #e5e5e5;
	margin: 0 -20px;
	padding: 20px;
	position: relative;
}

.post-trash-editor-block .confirm,
.post-drafts-editor-block .confirm,
.post-trash-editor-block.confirmation-asked .posts-list,
.post-drafts-editor-block.confirmation-asked .posts-list,
.post-trash-editor-block.confirmation-asked > -content > .delete,
.post-drafts-editor-block.confirmation-asked > -content > .delete {
	display: none;
}

.post-trash-editor-block.confirmation-asked .confirm,
.post-drafts-editor-block.confirmation-asked .confirm,
.post-trash-editor-block .posts-list .list-item.confirmation-asked .confirm,
.post-drafts-editor-block .posts-list .list-item.confirmation-asked .confirm {
	display: block;
}

.post-trash-editor-block .confirm .description,
.post-drafts-editor-block .confirm .description {
	color: #444;
	font-size: 13px;
	font-style: normal;
}

.post-trash-editor-block .confirm .dismiss,
.post-drafts-editor-block .confirm .dismiss {
	font-size: 12px;
	position: absolute;
	right: 10px;
	top: 10px;
}

.post-trash-editor-block .confirm label,
.post-drafts-editor-block .confirm label,
.post-trash-editor-block .confirm input,
.post-drafts-editor-block .confirm input {
	display: inline-block;
}

.post-trash-editor-block .confirm button.remove,
.post-drafts-editor-block .confirm button.remove {

}

.post-trash-editor-block .posts-list .list-item .confirm,
.post-drafts-editor-block .posts-list .list-item .confirm {
	background: #d22953;
	bottom: 0;
	color: #fff;
	top: 0;
	margin: 0;
	padding: 0 8px;
	position: absolute;
	right: 0;
	left: 0;
}

.post-trash-editor-block .posts-list .list-item .confirm p,
.post-drafts-editor-block .posts-list .list-item .confirm p {
	line-height: 28px;
	margin: 0;
}

.post-trash-editor-block .posts-list .list-item .confirm .button,
.post-drafts-editor-block .posts-list .list-item .confirm .button {
	color: #fff;
	float: right;
	font-size: 10px;
	margin: 5px;
	opacity: 1;
	position: static;
	text-transform: uppercase;
}

.post-trash-editor-block .posts-list .list-item .confirm .button.accept,
.post-drafts-editor-block .posts-list .list-item .confirm .button.accept {
	font-weight: 600;
}

.post-trash-editor-block .posts-list .list-item .confirm .button.dismiss,
.post-drafts-editor-block .posts-list .list-item .confirm .button.dismiss {
	font-size: 10px;
}
