
/*
 * Post Editor Sections.
 */

.post-editor .editor-section {
	background: #fff;
	border: 1px solid #e5e5e5;
	border-top: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: -1px 0 0 0;
	min-height: 128px;
	padding: 30px;
}

.post-editor .editor-section .editor-menu {
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: right;
	margin: -20px -30px 10px;
	padding: 0 50px;
	/*text-align: right;*/
}

.post-editor .editor-section .editor-menu button {
	border: 1px solid #e5e5e5;
	border-bottom-color: #fff;
	border-radius: 2px 2px 0 0;
	color: #aaa;
	height: 24px !important;
	line-height: 24px !important;
	margin: 0 2px -1px;
	padding: 0;
	position: static;
	transform: none;
	width: 42px;
}

.post-editor .editor-section .editor-menu button svg {
	height: 16px;
	width: 16px;
}

.editor-block-block .block-menu button:active span {
	display: block;
	transform: translateY(1px);
}

.post-editor .editor-section .editor-menu button:hover,
.post-editor .editor-section .mode-edit .editor-menu button.keyboard {
	color: #0073aa;
}

.post-editor .editor-content {
	padding: 15px 20px;
}

.post-editor .editor-content .panel.left {
	float: left;
	width: 244px;
}

.post-editor .editor-content .panel.right {
	margin-left: 274px;
}

.post-editor .editor-content .panel-title,
.post-editor .editor-content .panel-subtitle {
	color: #373e48;
	font-size: 16px;
	font-weight: 600;
	text-transform: uppercase;
	margin-bottom: 10px;
	padding: 10px;
}

.post-editor .editor-content .panel-subtitle {
	font-size: 12px;
}

.post-editor .editor-content .panel-description {
	color: #949ca8;
	font-size: 12px;
	font-weight: 400;
	margin-top: -10px;
	padding: 10px;
}

.post-editor .editor-content .panel .field {
	margin: 0 0 15px 0;
	padding: 0;
}

.post-editor .editor-content .panel .field .field-label {
	color: #686d77;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}

.post-editor .field .field-control input[type="text"],
.post-editor .field .field-control input[type="date"],
.post-editor .field .field-control input[type="number"],
.post-editor .field .field-control textarea {
	box-shadow: 0 0 0;
	font-size: 16px;
	min-height: 48px;
	line-height: 42px;
	padding: 2px 12px;
	margin: 0;
	width: calc( 100% - 32px );
}

.post-editor .field .field-control .selectize-input.focus,
.post-editor .field .field-control input[type="text"]:focus,
.post-editor .field .field-control input[type="date"]:focus,
.post-editor .field .field-control input[type="number"]:focus,
.post-editor .field .field-control textarea:focus {
	box-shadow: 0 0 0 2px #e0eff6;
}

.post-editor .field.changed-field .field-value {
	color: #ce8251;
}

.post-editor .field.changed-field .field-control input,
.post-editor .field.changed-field .field-control textarea,
.post-editor .field.changed-field .field-control .selectize-input {
	border-color: #ce8251;
}

.post-editor .field.saved-field .field-value {

}

.post-editor .field.saved-field .field-control input,
.post-editor .field.saved-field .field-control textarea,
.post-editor .field.saved-field .field-control .selectize-input {
	border-color: #a2ce51;
}

.post-editor .field.snapshot-field .field-value {
	color: #aaa;
}

.post-editor .field.snapshot-field .field-control input,
.post-editor .field.snapshot-field .field-control textarea,
.post-editor .field.snapshot-field .field-control .selectize-input {
	border-color: #0073aa;
}

/*
 * Post Editor Menu Section.
 */

.post-editor .editor-section.editor-menu {
	border: 1px solid #e5e5e5;
	height: 48px;
	margin: 0;
	min-height: auto;
	padding: 0;
}

.post-editor .editor-section.editor-menu .button {
	box-shadow: 0 0 0;
	border: 0;
	border-right: 1px solid #efefef;
	float: left;
	height: 48px;
	transform: none;
	width: 48px;
}

.post-editor .editor-section.editor-menu button[disabled="disabled"].button {
	background: transparent !important;
	border-color: #e5e5e5 !important;
	color: #ddd !important;
}

.post-editor .editor-section.editor-menu .button.refresh,
.post-editor .editor-section.editor-menu .button.snapshot {
	border-left: 1px solid #efefef;
	border-right: 0;
	float: right;
}

.post-editor .editor-section.editor-menu .button.refresh.active,
.post-editor .editor-section.editor-menu .button.snapshot.active,
.post-editor .editor-section.editor-menu .button.preview.active,
.post-editor .editor-section.editor-menu .button.download.active,
.post-editor .editor-section.editor-menu .button.refresh.active ,
.post-editor .editor-section.editor-menu .button.snapshot.active {
	color: #fff;
}

.post-editor .editor-section.editor-menu .button.refresh.active,
.post-editor .editor-section.editor-menu .button.snapshot.active {
 background: #a380c3;
}

.post-editor .editor-section.editor-menu .button.preview.active {
	background: #0073aa;
}

.post-editor .editor-section.editor-menu .button.download.active {
	background: #a2ce51;
}

.post-editor .editor-section.editor-menu .button.refresh.active {
	background: #3190c6;
}

/*
 * Blocks.
 */

.editor-block.post-editor-block .button {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0;
}

.editor-block.post-editor-block p.description {
	color: #888;
	font-size: 12px;
	margin: 10px 0;
}

.editor-block.post-editor-block label {
	color: #686d77;
	display: block;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}

.editor-block.post-editor-block input[type="text"],
.editor-block.post-editor-block input[type="date"],
.editor-block.post-editor-block input[type="number"] {
	box-shadow: 0 0 0;
	font-size: 16px;
	min-height: 32px;
	line-height: 32px;
	padding: 0 12px;
	margin: 0;
	width: 100%;
}

.editor-block.post-editor-block input[type="text"]:focus,
.editor-block.post-editor-block input[type="date"]:focus,
.editor-block.post-editor-block input[type="number"]:focus {
	box-shadow: 0 0 0 2px #e0eff6;
}

.editor-block.post-editor-block button.delete,
.editor-block.post-editor-block button.submit {
	background: #686d77;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 0 0;
	color: #fff;
	display: block;
	height: 32px;
	line-height: 32px;
	margin: 20px 0 0;
	padding: 0;
	width: 100%;
}

.editor-block.post-editor-block button.delete:hover {
	background: #da1f1f;
	cursor: pointer;
}

.editor-block.post-editor-block button.submit:hover {
	background: #0073aa;
	cursor: pointer;
}

.editor-block.post-editor-block button.delete:active,
.editor-block.post-editor-block button.submit:active {
	position: relative;
	top: 1px;
}

.editor-block.post-editor-block button[disabled].delete,
.editor-block.post-editor-block button[disabled].submit {
	background: #686d77;
	cursor: default;
	opacity: .5;
	position: static;
}

.editor-block.post-editor-block .selectize-input {
	display: block;
	max-height: 152px;
	overflow: auto;
}

.editor-block.post-editor-block .block-menu {
	border-bottom: 1px solid #e5e5e5;
	/*display: none;*/
	margin: 10px -20px 10px;
	padding: 0 20px;
	text-align: right;
}

.editor-block.post-editor-block .block-menu button {
	border: 1px solid #e5e5e5;
	border-bottom-color: #fff;
	border-radius: 2px 2px 0 0;
	color: #aaa;
	height: 24px !important;
	line-height: 24px !important;
	margin-bottom: -1px;
	padding: 0;
	position: static;
	transform: none;
	width: 42px;
}

.editor-block.post-editor-block .block-menu button:active span {
	display: block;
	transform: translateY(1px);
	width: 100%;
}

.editor-block.post-editor-block .block-menu button:hover,
.editor-block.post-editor-block.mode-edit .block-menu button.keyboard {
	color: #0073aa;
}

.editor-block.post-editor-block .term-list {
	display: block;
}

/*
 * Submit Block.
 */

.editor-block.submit-post-editor-block {
	height: 48px;
	padding: 0 20px !important;
}

.editor-block.submit-post-editor-block .button {
	position: absolute;
	top: 14px;
}

.editor-block.submit-post-editor-block .button.menu {
	left: 16px;
	right: auto;
}

.editor-block.submit-post-editor-block .button.trash {
	right: 48px;
	left: auto;
}

.editor-block.submit-post-editor-block .button.save {
	right: 16px;
	left: auto;
}

.editor-block.submit-post-editor-block .button.trash:hover {
	color: #d22953;
}

.editor-block.submit-post-editor-block .button.settings:hover,
.editor-block.submit-post-editor-block .button.save:hover {
	color: #0073aa;
}

.editor-block.submit-post-editor-block .confirm,
.editor-block.submit-post-editor-block .spinner,
.editor-block.submit-post-editor-block.loading .button.save .svg-icon,
.editor-block.submit-post-editor-block.trashing .button.trash .svg-icon,
.editor-block.submit-post-editor-block.confirmation-asked .content {
	display: none;
}

.editor-block.submit-post-editor-block.loading .button.save .spinner,
.editor-block.submit-post-editor-block.trashing .button.trash .spinner {
	background-image: url(../img/spinner.svg);
	display: block;
	margin: 0;
	opacity: 1;
	position: absolute;
	right: 0;
	top: 0;
	visibility: visible;
}

.editor-block.submit-post-editor-block .button.save .icon-warning {
	color: #d22953;
}

.editor-block.submit-post-editor-block .button.save .icon-yes-alt {
	color: #a2ce51;
}

.editor-block.submit-post-editor-block .confirm {
	background: #d22953;
	bottom: 0;
	color: #fff;
	left: 20px;
	padding: 15px 20px;
	position: absolute;
	right: 20px;
	top: 0;
}

.editor-block.submit-post-editor-block .confirm .button {
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	right: 20px;
	text-transform: uppercase;
	width: auto;
}

.editor-block.submit-post-editor-block .confirm .button + .button {
	right: 64px;
}

.editor-block.submit-post-editor-block.confirmation-asked .confirm {
	display: block;
	margin: 0 -20px;
}

/*
 * Post Categories Block.
 */

.editor-block.post-tags-editor-block .term-list .term-item,
.editor-block.post-categories-editor-block .term-list .term-item {
	width: auto !important;
}

.editor-block.post-tags-editor-block .term-list .term-item .svg-icon,
.editor-block.post-categories-editor-block .term-list .term-item .svg-icon {
	display: inline-block;
	margin: -2px 4px 0 0;
	opacity: .75;
	vertical-align: middle;
}

.editor-block.post-tags-editor-block .term-list .term-item .svg-icon > *,
.editor-block.post-categories-editor-block .term-list .term-item .svg-icon > * {
	fill: #373e48;
}

.editor-block.post-tags-editor-block .term-list .term-item .term-name,
.editor-block.post-categories-editor-block .term-list .term-item .term-name {
	display: inline-block !important;
}
