
/*
 * Term Editor Sections.
 */

.term-editor .editor-section {
	background: #fff;
	border: 1px solid #e5e5e5;
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	margin: -1px auto 0;
	max-width: 740px;
	min-height: 128px;
	padding: 30px;
}

.term-editor .editor-section .section-description {
	font-size: 13px;
	font-style: italic;
	margin: 0 auto 48px;
}

.term-editor .editor-section .editor-menu {
	border-bottom: 1px solid #e5e5e5;
	margin: -20px -30px 10px;
	padding: 0 50px;
	text-align: right;
}

.term-editor .editor-section .editor-menu button {
	border: 1px solid #e5e5e5;
	border-bottom-color: #fff;
	border-radius: 2px 2px 0 0;
	height: 24px !important;
	line-height: 24px !important;
	margin-bottom: -1px;
	padding: 0;
	position: static;
	transform: none;
	width: 42px;
}

.term-editor .editor-section .editor-menu .svg-icon {
	height: 18px;
	margin-top: 2px;
	width: 18px;
}

.term-editor .editor-section .editor-menu .svg-icon path {
	fill: #aaa;
}

.term-editor .editor-section .editor-menu button:hover .svg-icon path {
	fill: #0073aa;
}

.term-editor .editor-section .editor-content {
	display: none;
}

/**
 * Preview Section.
 */

.term-editor .editor-section.preview-section {
	background: transparent;
	border: 0;
	box-shadow: 0 0 0;
	margin: 0 auto 64px;
	max-width: 800px;
	padding: 0;
}

/**
 * Thumbnail Section.
 */

.term-editor .editor-section .term-thumbnails.mode-picker .editor-content-picker,
.term-editor .editor-section .term-thumbnails.mode-download .editor-content-downloader,
.term-editor .editor-section .term-thumbnails.mode-upload .editor-content-uploader {
	display: block;
}

.term-editor .editor-section .term-thumbnails.mode-picker .editor-menu .button.picker .svg-icon path,
.term-editor .editor-section .term-thumbnails.mode-download .editor-menu .button.download .svg-icon path,
.term-editor .editor-section .term-thumbnails.mode-upload .editor-menu .button.upload .svg-icon path {
	fill: #0073aa;
}

.term-editor .editor-section .term-thumbnails .editor-content p {
	font-size: 13px;
	font-style: italic;
}

.term-editor .editor-section .term-thumbnails .editor-content-inner {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
}

.term-editor .editor-section .term-thumbnails .image.picture {
  flex: 0 0 20%;
  display: flex;
  margin: 5px;
}

.term-editor .editor-section .term-thumbnails .image.picture::before {
  content: '';
  display: table;
  padding-top: 100%;
}

.term-editor .editor-section .term-thumbnails .image.picture .picture-thumbnail {
	box-shadow: 0 1px 1px rgba(0, 0, 0, .2);
	border-radius: 3px;
  flex-grow: 1;
	overflow: hidden;
	position: relative;
}

.term-editor .editor-section .term-thumbnails .image.picture .download-picture {
  align-items: center;
	background: #373e48;
	display: none;
	height: 100%;
  justify-content: center;
	opacity: 0;
	position: absolute;
	width: 100%;
}

.term-editor .editor-section .term-thumbnails .image.picture:hover .download-picture {
	display: flex;
	opacity: .85;
}

.term-editor .editor-section .term-thumbnails .image.picture .button .svg-icon path {
	fill: #fff;
}





/*.term-editor .editor-section .term-thumbnails .editor-content-inner {
	display: flex;
}

.term-editor .editor-section .term-thumbnails .image.picture {
	flex: 0 0 auto;
	margin: 0 5px;
	position: relative;
	width: calc( 20% - 10px );
}

.term-editor .editor-section .term-thumbnails .image.picture::after {
	content: '';
	padding-bottom: 100%;
	position: absolute;
}

.term-editor .editor-section .term-thumbnails .picture-thumbnail {

}

.term-editor .editor-section .term-thumbnails .download-picture {

}

.term-editor .editor-section .term-thumbnails .button {

}*/


/*
 * Blocks.
 */

.editor-block.term-editor-block .button {
	background: transparent;
	border: 0;
	border-radius: 0;
	box-shadow: 0 0 0;
}

.editor-block.term-editor-block p.description {
	color: #888;
	font-size: 12px;
	margin: 10px 0;
}

.editor-block.term-editor-block label {
	color: #686d77;
	display: block;
	font-size: 11px;
	font-weight: 600;
	text-transform: uppercase;
}

.editor-block.term-editor-block input[type="text"],
.editor-block.term-editor-block input[type="date"],
.editor-block.term-editor-block input[type="number"] {
	box-shadow: 0 0 0;
	font-size: 16px;
	min-height: 32px;
	line-height: 32px;
	padding: 0 12px;
	margin: 0;
	width: 100%;
}

.editor-block.term-editor-block input[type="text"]:focus,
.editor-block.term-editor-block input[type="date"]:focus,
.editor-block.term-editor-block input[type="number"]:focus {
	box-shadow: 0 0 0 2px #e0eff6;
}

.editor-block.term-editor-block button.delete,
.editor-block.term-editor-block button.submit {
	background: #686d77;
	border: 0;
	border-radius: 2px;
	box-shadow: 0 0 0;
	color: #fff;
	display: block;
	height: 32px;
	line-height: 32px;
	margin: 20px 0 0;
	padding: 0;
	width: 100%;
}

.editor-block.term-editor-block button.delete:hover {
	background: #da1f1f;
	cursor: pointer;
}

.editor-block.term-editor-block button.submit:hover {
	background: #0073aa;
	cursor: pointer;
}

.editor-block.term-editor-block button.delete:active,
.editor-block.term-editor-block button.submit:active {
	position: relative;
	top: 1px;
}

.editor-block.term-editor-block button[disabled].delete,
.editor-block.term-editor-block button[disabled].submit {
	background: #686d77;
	cursor: default;
	opacity: .5;
	position: static;
}

/*
 * Submit Block.
 */

.editor-block.submit-term-editor-block {
	height: 48px;
	padding: 0 20px !important;
}

.editor-block.submit-term-editor-block .button {
	position: absolute;
	top: 12px;
}

.editor-block.submit-term-editor-block .button.settings {
	left: 16px;
	right: auto;
}

.editor-block.submit-term-editor-block .button.trash {
	right: 48px;
	left: auto;
}

.editor-block.submit-term-editor-block .button.save {
	right: 16px;
	left: auto;
}

.editor-block.submit-term-editor-block .button.trash:hover {
	color: #d22953;
}

.editor-block.submit-term-editor-block .button.settings:hover,
.editor-block.submit-term-editor-block .button.save:hover {
	color: #0073aa;
}

.editor-block.submit-term-editor-block .confirm,
.editor-block.submit-term-editor-block .spinner,
.editor-block.submit-term-editor-block.loading .button.save .wpmolicon,
.editor-block.submit-term-editor-block.trashing .button.trash .wpmolicon,
.editor-block.submit-term-editor-block.confirmation-asked .content {
	display: none;
}

.editor-block.submit-term-editor-block.loading .button.save .spinner,
.editor-block.submit-term-editor-block.trashing .button.trash .spinner {
	display: block;
	margin: 0;
	opacity: 1;
	position: absolute;
	right: 2px;
	top: 2px;
	visibility: visible;
}

.editor-block.submit-term-editor-block .button.save .icon-warning {
	color: #d22953;
}

.editor-block.submit-term-editor-block .button.save .icon-yes-alt {
	color: #a2ce51;
}

.editor-block.submit-term-editor-block .confirm {
	background: #d22953;
	bottom: 0;
	color: #fff;
	left: 20px;
	padding: 15px 20px;
	position: absolute;
	right: 20px;
	top: 0;
}

.editor-block.submit-term-editor-block .confirm .button {
	color: #fff;
	font-size: 13px;
	font-weight: 600;
	right: 20px;
	text-transform: uppercase;
	width: auto;
}

.editor-block.submit-term-editor-block .confirm .button + .button {
	right: 64px;
}

.editor-block.submit-term-editor-block.confirmation-asked .confirm {
	display: block;
	margin: 0 -20px;
}


/**
 * Term Headbox.
 */

.term-editor .term-headbox {
	margin: 74px auto 32px;
	max-width: 800px;
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail {
	background-color: rgba(35, 62, 101, 0.8);
	background-image: url(../../../public/assets/img/genre-unknown-thumb.png);
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail .thumbnail-menu {
	background: rgba(35, 62, 101, 0.8);
	display: none;
	height: 100%;
	position: absolute;
	width: 100%;
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail .thumbnail-menu .button {
	height: 40px;
	line-height: 48px;
	padding: 0;
	position: absolute;
	width: 40px;
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail .thumbnail-menu .button.edit {
	left: 10px;
	top: 10px;
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail .thumbnail-menu .button.remove {
	right: 10px;
	top: 10px;
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail:hover .thumbnail-menu {
	display: block;
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail .thumbnail-menu .svg-icon {
}

.wpmoly.term-headbox .headbox-header .headbox-thumbnail .thumbnail-menu .svg-icon-path {
	fill: #fff;
}

.term-editor .term-headbox .headbox-content .headbox-title {
	line-height: 32px;
}

.term-editor .term-headbox .headbox-content .headbox-subtitle {
	margin: 0;
}

.term-editor .term-headbox .headbox-content .headbox-description {
	margin: 15px 0;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .button.edit .svg-icon {
	height: 16px;
	width: 16px;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .button.edit .svg-icon path {
	fill: #888;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .button.edit:hover .svg-icon path {
	fill: #3190c6;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .value {
	text-align: justify;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .field-control {
	position: relative;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .field-control textarea {
	height: 64px;
	line-height: 24px;
	width: 100%;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .field-control .button.close {
	opacity: .5;
	padding: 8px;
	position: absolute;
	right: 4px;
	top: 0;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .field-control .button.close:hover {
	opacity: .8;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .field-control .button.close .svg-icon {
	height: 12px;
	width: 12px;
}

.term-editor .term-headbox .headbox-content .headbox-description .field .field-control,
.term-editor.mode-edit .term-headbox .headbox-content .headbox-description .field .value {
	display: none;
}

.term-editor.mode-edit .term-headbox .headbox-content .headbox-description .field .field-control {
	display: block;
}
