
#wp-admin-bar-wpmovielibrary img {
	margin: -2px 6px 0 0;
}

#wp-toolbar #wp-admin-bar-wpmovielibrary.haz-dashicon > .ab-item:before,
#wp-toolbar #wp-admin-bar-wpmovielibrary.haz-dashicon > .ab-item:before {
	content: "\f126";
	top: 2px;
}

/** Movie Post TMDb
 ***************************************************/

.wpml_movie .wpml_title_field_value,
.wpml_movie .wpml_original_title_field_value {
	font-style: italic;
}

.movie_rating_display {
	background-image: url(../img/rating.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	margin: 0 6px -3px 6px;
	overflow: hidden;
	position: relative;
	width: 82px;
}

.stars {
	margin: 1em 1em 1em 2em;
}

.stars_0_0 {background-position: 0 0;}
.stars_0_5 {background-position: 0 -16px;}
.stars_1_0 {background-position: 0 -32px;}
.stars_1_5 {background-position: 0 -48px;}
.stars_2_0 {background-position: 0 -64px;}
.stars_2_5 {background-position: 0 -80px;}
.stars_3_0 {background-position: 0 -96px;}
.stars_3_5 {background-position: 0 -112px;}
.stars_4_0 {background-position: 0 -128px;}
.stars_4_5 {background-position: 0 -144px;}
.stars_5_0 {background-position: 0 -160px;}

.widget-description {
	margin: 0.5em 0 !important;
}

.recent-movies,
.most-rated-movies {
	position: relative;
}

.recent-movie,
.most-rated-movie {
	display: inline-table;
	max-height: 150px;
	max-width: 150px;
	min-height: 120px;
	min-width: 120px;
	position: relative;
	width: 49%;
}

.recent-movie img,
.most-rated-movie img {
	height: 100%;
	width: 100%;
}

.most-rated-movie .movie_rating_display.below {
	margin-top: 0.25em;
}

.most-rated-movie .movie_rating_display.above {
	bottom: 0.75em;
	left: 0.25em;
	opacity: 0.5;
	position: absolute;
}

.most-rated-movie:hover .movie_rating_display.above {
	opacity: 1;
}

#genres-list.custom,
#actors-list.custom,
#collections-list.custom {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	color: #666;
	outline: none;
	padding: 0.5em 1em;
	text-shadow: 0 1px 0 white;
	width: 100%;
}