
#wp-admin-bar-wpmovielibrary img {
	margin: 6px 4px -3px 0;
}

#wpadminbar  #wp-admin-bar-wpmovielibrary.haz-dashicon > .ab-item:before,
#wpadminbar  #wp-admin-bar-wpmovielibrary.haz-dashicon > .ab-item:before {
	content: "\f126";
	top: 2px;
}