
body.post-php.post-type-movie #postimagediv {
	text-align: center;
}

.wrap div.updated ul {
	margin: 0;
}

.wrap div.updated li {
	list-style-type: circle;
	margin-left: 2em;
}

/* WPML Movie List
 ****************************************************/

.widefat thead tr th.column-poster {
	width: 4em;
}

.visible-actors {
	display: inline;
}

.hidden-actors {
	display: none;
}

.more-actors {
	font-style: italic;
}

/* WPML Notice
 ****************************************************/

.wpml {
	background: url(../img/gradient.png) center top repeat-x;
	border-color: #5b6b8b !important;
	color: #fff;
	padding: 0.75em 1.5em !important;
	text-shadow: 0px 2px 4px #124;
}

.updated.wpml a {
	font-weight: bold;
	color: #fff;
}

.wpml a:hover {
	color: #faaeae;
}

/* #WPML-Help
 ****************************************************/

#wpml-help {
	color: #666;
	display: inline-table;
	margin-left: 2%;
	min-height: 8em;
	width: 26%;
}

#wpml-help .ui-widget-header {
	border-radius: 4px;
	color: #444;
	margin-top: 3px;
	padding: 14px 16px;
	text-shadow: 1px 1px 0 #efefef;
}

#wpml-help p {
	text-align: justify;
}

#wpml-help ul {
	list-style: circle;
	margin-left: 24px;
}


/* #TMDb Tabs Settings
 ****************************************************/

/* Basics */

#wpml-tabs {
	border-width: 0 !important;
	display: inline-table;
	position: relative;
	width: 70%;
}

#wpml-tabs h4 {
	margin: 0.25em 0;
}

#wpml-tabs > ul > li > a {
	outline: none;
}

#wpml-tabs h4 .ui-icon {
	display: inline-block;
	margin: 0.25em 0 -0.25em 0;
}

#wpml-tabs .update-nag {
	padding: 1em 1.5em;
	text-align: left;
}

#wpml-tabs .update-nag .ui-icon {
	display: inline-block;
	margin: 0.25em 0 -0.25em 0;
}

#wpml-tabs .form-table {
	margin: 0;
}

#wpml-tabs p.submit {
	text-align: right;
}

/* Tab menu */

.wpml-tabs-nav {
	background: #222;
	margin-bottom: 0;
}

.wpml-tabs-nav > li {
	display: inline-block;
	margin: 0;
}

.wpml-tabs-nav > li.active a,
.wpml-tabs-nav > li.active:hover a {
	background: #2EA2CC;
}

.wpml-tabs-nav > li.active a,
.wpml-tabs-nav > li.active:hover a  {
	color: #fff;
}

.wpml-tabs-nav > li > a {
	color: #ddd;
	display: block;
	margin: 0;
	outline: none;
	padding: 0.75em 1.5em;
	text-decoration: none;
}

.wpml-tabs-nav > li > a:hover {
	color: #fff;
	text-decoration: none;
}

.wpml-tabs-nav > li:hover {
	background: #111;
}

.wpml-tabs-nav > li:hover a {
	color : #2EA2CC;
}

/* Table */

#wpml-tabs .wpml-tabs-panels {
	background: #fff;
	padding: 1em;
}

#wpml-tabs .wpml-tabs-panels .form-table.active {
	display: block !important;
}

#wpml-tabs .wpml-tabs-panels h3 {
	background: #fff;
	display: none;
	margin: 1em -0.75em;
	padding: 0.5em 0.75em;
}

#wpml-tabs .wpml-tabs-panels h3:first-child {
	margin-top: 0;
}

#wpml-tabs .wp-list-table a {
	color: #21759B;
}

#wpml-tabs .wp-list-table .delete a {
	color: #BC0B0B;
}

#wpml-tabs .wp-list-table a:hover,
#wpml-tabs .wp-list-table a:focus {
	color: #D54E21;
}

#wpml-tabs .wp-list-table #poster {
	width: 6em;
}

#wpml-tabs .wp-list-table #director {
	max-width: 10em;
}

#wpml-tabs .wp-list-table .poster.loading {
	background: url(../img/loading.gif) 0 16px no-repeat;
}

#wpml-tabs .wp-list-table .movietitle {
	font-style: italic;
}

/* Sortable/Drag n' Drop */

#wpml-tabs .default_movie_meta_sortable {
	width: 100%;
}

#wpml-tabs .default_movie_meta_sortable ul {
	display: inline-block;
	padding: 0.5rem 0;
	vertical-align: top;
	width: 49.25%;
}

#wpml-tabs .default_movie_meta_sortable .default_movie_meta_selected,
#wpml-tabs .default_movie_meta_sortable .default_movie_meta_droppable {
	border-radius: 0.15rem;
	margin: 0.25rem;
	padding: 0.5rem;
}

#wpml-tabs .default_movie_meta_sortable .default_movie_meta_selected {
	background-color: #0074A2;
	color: #fff;
	font-weight: bold;
}

#wpml-tabs .default_movie_meta_sortable .default_movie_meta_droppable {
	background-color: #333;
	color: #ddd;
}

#wpml-tabs .default_movie_meta_sortable .highlight {
	background-color: #eee;
	border: 1px solid #ccc;
	height: 2em;
	margin: 0.25rem;
}

/* Buttons & Color */

#restore_default {
	font-size: 1.2em;
	height: auto;
	padding: 0.5em 3em;
}

#api_status {
	display: block;
	padding: 0 0.75em;
}

#api_status.valid {
	color: #13bd43;
}

#api_status.invalid {
	color: #bd132e;
}

.wp-list-table .poster img {
	border-radius: 2px;
	height: 4em;
}

/* Movie Modal
 ****************************************************/

/* Modal */

.media-frame.movie-images .attachments-browser .attachments {
	top: 10px;
}

.media-frame.movie-images .media-frame-router,
.media-frame.movie-images .attachments-browser .media-toolbar,
.media-frame.movie-images .attachment-details .setting,
.media-frame.movie-images .attachment-details .edit-attachment {
	display: none;
}

.media-frame.movie-images #preload,
.media-frame.movie-posters #preload {
	background: url(../img/preload__.gif) center center no-repeat;
	height: 100%;
	width: 100%;
}

.media-frame.movie-images .attachment-info .thumbnail,
.media-frame.movie-images .attachment-info .thumbnail img {
	height: auto;
	margin: 0 auto;
	max-height: 170px;
	max-width: 300px !important;
	width: 100%;
}

.media-frame.movie-images .attachment {
	width: 300px !important;
}

.media-frame.movie-images .attachment-preview,
.media-frame.movie-images .attachment-preview .thumbnail {
	width: 300px !important;
	height: 168px !important;
}

.media-frame.movie-images .landscape .thumbnail img {
	width: 300px !important;
	height: 168px !important;
	max-height: none !important;
}


.media-frame.movie-posters .attachment-info .thumbnail,
.media-frame.movie-posters .attachment-info .thumbnail img {
	max-height: 230px;
	max-width: 154px !important;
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.media-frame.movie-posters .attachment {
	width: 154px !important;
}

.media-frame.movie-posters .attachment-preview,
.media-frame.movie-posters .attachment-preview .thumbnail {
	width: 154px !important;
	height: 218px !important;
}

.media-frame.movie-posters .portrait .thumbnail img {
	max-width: 154px !important;
	height: auto;
}

/* Progress Bar */

#progressbar_bg {
	background: rgba(255, 255, 255, 0.85);
	display: none;
	height: 100%;
	left: 0;
	position: absolute;
	right: 300px;
	top: 0;
	z-index: 10;
}

#progressbar {
	background: #eee;
	border-radius: 6px;
	display: none;
	height: 5px;
	left: 50%;
	margin: 0 0 0 -180px;
	max-width: 480px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	width: 360px;
}

#progress {
	background: #0074A2;
	border-radius: 6px;
	height: 5px;
	position: absolute;
}

#progress_status {
	color: #666;
	left: 50%;
	margin: 30px 0 0 -150px;
	position: absolute;
	text-align: center;
	top: 50%;
	width: 300px;
}

/* #TMDb Meta Box
 ****************************************************/

#wpml-tmdb .list-table {
	display: inline-table;
	width: 49.5%;
}

#wpml-tmdb .list-table td {
	width: 65%;
}

#wpml-tmdb .list-table td.left {
	padding-right: 4%;
	text-align: right;
	width: 31%;
}

#wpml-tmdb .list-table td input,
#wpml-tmdb .list-table td textarea {
	width: 100%;
}

#tmdb_data {
	background: #333;
	display: none;
	margin: 0.75em -1em;
	padding: 0.75em 0;
}

#tmdb_data p {
	color: #eee;
	padding: 0 1.5em;
}

.button-empty {
	display: none;
	float: right;
}

.tmdb_select_movie {
	display: inline-table;
	height: 18em;
	padding: 0.25em;
	text-align: center;
	width: 12.5em;
}

.tmdb_select_movie img {
	border-radius: 4px;
	box-shadow: 0 1px 1px #333;
	max-height: 16em;
	max-width: 12.5em;
}

.tmdb_select_movie em {
	display: block;
}

#tmdb_images_preview .tmdb_movie_images {
	float: left;
	height: 140px;
	margin: 4px;
	overflow: hidden;
	width: 250px;
}

#tmdb_images_preview .tmdb_movie_images img {
	height: auto;
	width: 100%;
}

#tmdb_images_preview #tmdb_load_images {
	border: 2px dashed #ccc;
	display: block;
	line-height: 136px;
	text-align: center;
	text-decoration: none;
}

#tmdb_images_preview #tmdb_load_images:hover {
	border-color: #2EA2CC;
}

/* Status */

#tmdb_status {
	background-color: #fff;
	-webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
	clear: both;
	display: block;
	margin: 8px 2px;
	padding: 5px 12px;
}

#tmdb_status.success {
	border-left: 4px solid #7AD03A;
}

#tmdb_status.warning {
	border-left: 4px solid #FFBA00;
}

#tmdb_status.error {
	border-left: 4px solid #DD3D36;
}

/* #WPML 
 ****************************************************/

#wpml_import_list {
	height: 12em;
	width: 100%;
}

.wpml-import-movie-select {
	background: #222;
}

.wpml-import-movie-select .tmdb_select_movies {
	max-height: 8em;
	overflow-y: scroll;
}

.wpml-import-movie-select .tmdb_select_movie {
	float: left;
	font-size: 0.9em;
	height: 12em;
	width: 6em;
}

.wpml-import-movie-select .tmdb_select_movie img {
	max-height: 8em;
	max-width: 6em;
}

#wpml_imported .wp-list-table.movies {
	position: relative;
}



/* #TMDb Meta Box
 ****************************************************/

.wpml-details {
    
}

#movie-status-display,
#movie-media-display {
	font-weight: bold;
}

#movie-status-icon {
	background: url(../img/icon-status.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#movie-media-icon {
	background: url(../img/icon-media.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#movie-rating-icon {
	background: url(../img/icon-star-half.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#movie-rating-display,
.stars {
	background-color: transparent;
	background-image: url(../img/rating.png);
	background-repeat: no-repeat;
	height: 16px;
	margin: 1em 0 1em 2em;
	min-width: 80px;
	padding: 0 8px;
}

#movie-rating-display {
	display: inline-block;
	margin: 4px 4px -4px 4px;
	padding: 0;
}

#movie-rating-display.hide-if-no-js {
	/*display: none;*/
}

.movie-rating-block {
	display: block;
}

.stars {
	cursor: pointer;
	display: inline-block;
}

.stars-labels {
	position: relative;
}

.stars-label {
	font-size: 0.9em;
	left: 82px;
	position: absolute;
	opacity: 0;
	width: 100%;
}

.stars-label.show {
	opacity: 1;
}

.stars-0-0 {background-position: 0 0;}
.stars-0-5 {background-position: 0 -16px;}
.stars-1-0 {background-position: 0 -32px;}
.stars-1-5 {background-position: 0 -48px;}
.stars-2-0 {background-position: 0 -64px;}
.stars-2-5 {background-position: 0 -80px;}
.stars-3-0 {background-position: 0 -96px;}
.stars-3-5 {background-position: 0 -112px;}
.stars-4-0 {background-position: 0 -128px;}
.stars-4-5 {background-position: 0 -144px;}
.stars-5-0 {background-position: 0 -160px;}

.inline-edit-group #movie-rating-display,
.inline-edit-group .stars {
	margin: 0.5em 0 0.5em 0.5em;
}

.inline-edit-col-wpml .inline-edit-group {
	display: inline-block;
	width: 30%;
}

.inline-edit-col-wpml .inline-edit-group .title {
	display: block;
	float: none;
}

@media (max-width: 1440px) {
	
	#tmdbstuff .tmdb_meta {
		margin-right: 1%;
		width: 49%;
	}

	#tmdbstuff .tmdb_crew {
		margin-left: 1%;
		width: 49%;
	}
}

@media (max-width: 1280px) {
	
	#wpml-tabs {
		width: 100% !important;
	}
	
	#wpml-help {
		margin: 1em 0 0 0;
		width: 100% !important;
	}
	
	#tmdbstuff .tmdb_meta,
	#tmdbstuff .tmdb_crew {
		margin: 0;
		width: 100% !important;
	}
	
	#tmdbstuff .tmdb_meta {
		margin-bottom: 8px;
	}
}