#wpml_details .movie-status-icon {
	background: url(../img/legacy/icon-status.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#wpml_details .movie-media-icon {
	background: url(../img/legacy/icon-media.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

#wpml_details .movie-rating-icon {
	background: url(../img/legacy/icon-star-half.png) left 2px no-repeat;
	margin-left: -0.5em;
	padding: 0.25em 0 0.25em 1.75em;
}

.wpml-inline-edit-details {
	margin-left: 0 !important;
}

.alt .wpml-inline-edit-details,
.alternate .wpml-inline-edit-details {
	background-color: #fcfcfc;
}

.dashicons.dashicons-no,
.dashicons.dashicons-no-alt,
.dashicons.dashicons-download,
.dashicons.dashicons-welcome-add-page,
.dashicons.dashicons-post-trash,
.dashicons.dashicons-trash,
.dashicons.dashicons-plus,
.dashicons.dashicons-admin-generic,
.dashicons.dashicons-arrow-right-alt2,
.dashicons.dashicons-format-video,
.dashicons.dashicons-category,
.dashicons.dashicons-text,
.dashicons.dashicons-tag,
.dashicons.dashicons-edit,
.dashicons.dashicons-list-view,
.dashicons.dashicons-star-filled,
.dashicons.dashicons-facebook,
.dashicons.dashicons-facebook-alt,
.dashicons.dashicons-twitter,
.dashicons.dashicons-googleplus {
	background-color: transparent;
	background-position: center center;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	margin: -2px 0 -4px 6px;
	width: 16px;
}

.dashicons.dashicons-no,
.dashicons.dashicons-no-alt {
	background-image: url(../img/legacy/icon-close.png);
}

.dashicons.dashicons-download {
	background-image: url(../img/legacy/icon-download.png);
}

.dashicons.dashicons-welcome-add-page {
	background-image: url(../img/legacy/icon-edit.png);
}

.dashicons.dashicons-post-trash,
.dashicons.dashicons-trash {
	background-image: url(../img/legacy/icon-delete.png);
}

.dashicons.dashicons-plus {
	background-image: url(../img/legacy/icon-add.png);
}

.dashicons.dashicons-admin-generic {
	background-image: url(../img/legacy/icon-gear.png);
}

.dashicons.dashicons-arrow-right-alt2 {
	background-image: url(../img/legacy/icon-right.png);
}

.dashicons.dashicons-list-view {
	background-image: url(../img/legacy/icon-queue.png);
}

.dashicons.dashicons-format-video {
	background-image: url(../img/legacy/icon-movie.png);
}

.dashicons.dashicons-edit {
	background-image: url(../img/legacy/icon-draft.png);
}

.dashicons.dashicons-category {
	background-image: url(../img/legacy/icon-category.png);
}

.dashicons.dashicons-tag {
	background-image: url(../img/legacy/icon-tag.png);
}

.dequeue_movie .dashicons.dashicons-no {
	background-image: url(../img/legacy/icon-dequeue.png);
}

.enqueue_movie .dashicons.dashicons-plus {
	background-image: url(../img/legacy/icon-enqueue.png);
}

.button .dashicons.dashicons-plus {
	background-image: url(../img/legacy/icon-add-alt.png);
}

.dashicons.dashicons-star-filled {
	background-image: url(../img/legacy/icon-star-full.png);
}

.dashicons.dashicons-facebook,
.dashicons.dashicons-facebook-alt {
	background-image: url(../img/legacy/icon-facebook.png);
}

.dashicons.dashicons-twitter {
	background-image: url(../img/legacy/icon-twitter.png);
}

.dashicons.dashicons-googleplus {
	background-image: url(../img/legacy/icon-googleplus.png);
}

.row-actions .dashicons {
	margin: 0;
	vertical-align: bottom;
}

#wpml_dashboard_quickaction_widget .dashicons { margin-bottom: -10px !important; }
#wpml_dashboard_quickaction_widget .dashicons.dashicons-welcome-write-blog { background-image: url(../img/legacy/icon-add-2x.png); }
#wpml_dashboard_quickaction_widget .dashicons.dashicons-list-view { background-image: url(../img/legacy/icon-queue-2x.png); }
#wpml_dashboard_quickaction_widget .dashicons.dashicons-format-video { background-image: url(../img/legacy/icon-movie-2x.png); }

#wpml-home #wpml_dashboard_latest_movies_widget .wpml-movie .movie-quickedit a,
#wpml-home #wpml_dashboard_most_rated_movies_widget .wpml-movie .movie-quickedit a {
	margin-left: -0.35em;
}

#wpml-movie-modal .button .dashicons {
	display: none;
}