
#wp-admin-bar-wpmovielibrary img {
	margin: -2px 6px 0 0;
}

#wp-toolbar #wp-admin-bar-wpmovielibrary.haz-dashicon > .ab-item:before,
#wp-toolbar #wp-admin-bar-wpmovielibrary.haz-dashicon > .ab-item:before {
	content: "\f126";
	top: 2px;
}

/** Public Page
 ***************************************************/

.hentry.wpml_page.type-wpml_page .entry-header {
	display: none;
}

.hentry.wpml_page .page-numbers {
	text-align: center;
}

.hentry.wpml_page .page-numbers li {
	display: inline-block;
	margin: 0px 0.5em;
}

/** Movie Post TMDb
 ***************************************************/

.wpml_movie .wpml_title_field_value,
.wpml_movie .wpml_original_title_field_value {
	font-style: italic;
}

.wpml_movie_detail {
	float: right;
	min-width: 10em;
	width: auto;
}

.wpml_movie_detail > div {
	display: inline-block;
	margin: 0 0.5em;
}

.wpml_movie_detail_item {
	background: #eee;
	border-radius: 0.25em;
	padding: 0.25em 1em;
}

.wpml_movie_media .wpml_movie_detail_item,
.wpml_movie_status .wpml_movie_detail_item {
	padding: 0.5em 1em 0.6em 1em;
}

.wpml_movie_media.dvd .wpml_movie_detail_item {
	background: #a7caf8;
	color: #fff;
	text-shadow: 0 1px 0 #77a0d6;
}

.wpml_movie_media.bluray .wpml_movie_detail_item {
	background: #5e62d6;
	color: #fff;
	text-shadow: 0 1px 0 #3a3da3;
}

.wpml_movie_media.vod .wpml_movie_detail_item {
	background: #cc5ed6;
	color: #fff;
	text-shadow: 0 1px 0 #752d7c;
}

.wpml_movie_media.cinema .wpml_movie_detail_item {
	background: #47b7cc;
	color: #fff;
	text-shadow: 0 1px 0 #237e8f;
}

.wpml_movie_media.vhs .wpml_movie_detail_item {
}

.wpml_movie_media.other .wpml_movie_detail_item {
}

.wpml_movie_status.available .wpml_movie_detail_item {
	background: #888;
	color: #fff;
	text-shadow: 0 1px 0 #333;
}

.wpml_movie_status.available .wpml_movie_detail_item {
	background: #7dd667;
	color: #fff;
	text-shadow: 0 1px 0 #4ea239;
}

.wpml_movie_status.loaned .wpml_movie_detail_item {
	background: #d67067;
	color: #fff;
	text-shadow: 0 1px 0 #a84137;
}

.wpml_movie_status.scheduled .wpml_movie_detail_item {
	
}

.wpml_movie_media.wpml_detail_icon,
.wpml_movie_status.wpml_detail_icon,
.wpml_movie_rating.wpml_detail_icon {
	background-color: #e1e1e6;
	background-position: center;
	background-repeat: no-repeat;
	background-size: 24px 24px;
	border-radius: 0.35em;
	display: inline-block;
	height: 32px;
	margin: 0 2px;
	max-width: 32px;
	min-width: 32px;
	opacity: 0.75;
	padding: 0.2em;
	vertical-align: middle;
}

.wpml_movie_rating.wpml_detail_icon {
	max-width: 94px;
}

.wpml_movie_media.wpml_detail_icon.dvd {
	background-image: url(../img/icon-dvd.png);
}

.wpml_movie_media.wpml_detail_icon.bluray {
	background-image: url(../img/icon-bluray.png);
}

.wpml_movie_media.wpml_detail_icon.vod {
	background-image: url(../img/icon-vod.png);
}

.wpml_movie_media.wpml_detail_icon.divx {
	background-image: url(../img/icon-divx.png);
}

.wpml_movie_media.wpml_detail_icon.vhs {
	background-image: url(../img/icon-vhs.png);
}

.wpml_movie_media.wpml_detail_icon.cinema {
	background-image: url(../img/icon-cinema.png);
}

.wpml_movie_media.wpml_detail_icon.other {
	background-image: url(../img/icon-other.png);
}

.wpml_movie_status.wpml_detail_icon.unavailable {
	background-image: url(../img/icon-unavailable.png);
}

.wpml_movie_status.wpml_detail_icon.available {
	background-image: url(../img/icon-available.png);
}

.wpml_movie_status.wpml_detail_icon.scheduled {
	background-image: url(../img/icon-scheduled.png);
}

.wpml_movie_status.wpml_detail_icon.loaned {
	background-image: url(../img/icon-loaned.png);
}

.wpml_movie_rating.wpml_detail_icon .movie_rating_display {
	margin-top: 8px;
	margin-left: 8px;
}

/** Shortcodes **/

.wpml_shortcode_span.wpml_shortcode_span_title {
	display: block;
	font-weight: bold;
}

.wpml_shortcode_span.wpml_shortcode_span_value {
	display: block;
	margin-left: 0.5em;
}

.wpml_shortcode_ul.wpml_movie_images {
	list-style: none;
	text-align: center;
}

.wpml_shortcode_ul.wpml_movie_images > .wpml_movie_image {
	display: inline-block;
	margin: 2px 6px;
}

/** Movie Rating **/

.movie_rating_display {
	background-image: url(../img/rating.png);
	background-position: 0 0;
	background-repeat: no-repeat;
	display: inline-block;
	height: 16px;
	margin: 0 6px -3px 6px;
	overflow: hidden;
	position: relative;
	width: 82px;
}

.stars {
	margin: 1em 1em 1em 2em;
}

.stars_0_0 {background-position: 0 0;}
.stars_0_5 {background-position: 0 -16px;}
.stars_1_0 {background-position: 0 -32px;}
.stars_1_5 {background-position: 0 -48px;}
.stars_2_0 {background-position: 0 -64px;}
.stars_2_5 {background-position: 0 -80px;}
.stars_3_0 {background-position: 0 -96px;}
.stars_3_5 {background-position: 0 -112px;}
.stars_4_0 {background-position: 0 -128px;}
.stars_4_5 {background-position: 0 -144px;}
.stars_5_0 {background-position: 0 -160px;}

.stars_labels {
	position: relative;
}

.stars_label {
	font-size: 0.9em;
	left: 82px;
	position: absolute;
	opacity: 0;
	width: 100%;
}

.stars_label.show {
	opacity: 1;
}

.widget-description {
	margin: 0.5em 0 !important;
}

.recent-movies,
.most-rated-movies,
.widget-movies {
	position: relative;
}

.recent-movies a,
.most-rated-movies a,
.widget-movies a {
	text-decoration: none;
}

.recent-movie,
.most-rated-movie,
.widget-movie {
	display: inline-table;
	height: 100%;
	max-height: 150px;
	max-width: 150px;
	min-height: 122px;
	min-width: 122px;
	overflow: hidden;
	position: relative;
	text-align: center;
	width: 49%;
}

.recent-movie img,
.most-rated-movie img,
.widget-movie img {
	height: 100%;
	width: 100%;
}

.most-rated-movie .movie_rating_display.below {
	margin: 0.25em auto 0.75em auto;
	text-align: right;
	width: 94%;
}

.most-rated-movie .movie_rating_display.below small {
	display: inline-block;
	margin: 3px 0;
}

.most-rated-movie .movie_rating_display.above {
	bottom: 0.75em;
	left: 0.25em;
	opacity: 0.5;
	position: absolute;
}

.most-rated-movie:hover .movie_rating_display.above {
	opacity: 1;
}

.wpml-most-rated-movies-widget .movie_rating_display {
	overflow: visible;
	width: 100%;
}

.wpml-most-rated-movies-widget .movie_rating_display .stars_label {
	left: 90px;
	opacity: 1.0;
	top: -2px;
}

select.custom {
	background: #eee;
	border: 1px solid #ccc;
	border-radius: 0.3em;
	color: #666;
	outline: none;
	padding: 0.5em 1em;
	text-shadow: 0 1px 0 white;
	width: 100%;
}