@font-face {
  font-family: 'wpmovielibrary';
  src: url('../font/wpmovielibrary.eot?75881087');
  src: url('../font/wpmovielibrary.eot?75881087#iefix') format('embedded-opentype'),
       url('../font/wpmovielibrary.woff?75881087') format('woff'),
       url('../font/wpmovielibrary.ttf?75881087') format('truetype'),
       url('../font/wpmovielibrary.svg?75881087#wpmovielibrary') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'wpmovielibrary';
    src: url('../font/wpmovielibrary.svg?75881087#wpmovielibrary') format('svg');
  }
}
*/
 
 [class^="wpmoly-icon"]:before, [class*=" wpmoly-icon"]:before {
  font-family: "wpmovielibrary";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.wpmoly-icon.wpmoly-icon-api:before { content: '\e800'; } /* '' */
.wpmoly-icon.wpmoly-icon-wrench:before { content: '\e801'; } /* '' */
.wpmoly-icon.wpmoly-icon-cancel:before { content: '\e802'; } /* '' */
.wpmoly-icon.wpmoly-icon-crew:before { content: '\e803'; } /* '' */
.wpmoly-icon.wpmoly-icon-images:before { content: '\e804'; } /* '' */
.wpmoly-icon.wpmoly-icon-legacy:before { content: '\e805'; } /* '' */
.wpmoly-icon.wpmoly-icon-cache:before { content: '\e806'; } /* '' */
.wpmoly-icon.wpmoly-icon-info-o:before { content: '\e807'; } /* '' */
.wpmoly-icon.wpmoly-icon-help-o:before { content: '\e808'; } /* '' */
.wpmoly-icon.wpmoly-icon-taxonomies:before { content: '\e809'; } /* '' */
.wpmoly-icon.wpmoly-icon-genre:before { content: '\e80a'; } /* '' */
.wpmoly-icon.wpmoly-icon-plus:before { content: '\e80b'; } /* '' */
.wpmoly-icon.wpmoly-icon-import:before { content: '\e80c'; } /* '' */
.wpmoly-icon.wpmoly-icon-deactivate:before { content: '\e80d'; } /* '' */
.wpmoly-icon.wpmoly-icon-formatting:before { content: '\e80e'; } /* '' */
.wpmoly-icon.wpmoly-icon-details:before { content: '\e80f'; } /* '' */
.wpmoly-icon.wpmoly-icon-ok:before { content: '\e810'; } /* '' */
.wpmoly-icon.wpmoly-icon-cinema:before { content: '\e811'; } /* '' */
.wpmoly-icon.wpmoly-icon-language:before { content: '\e812'; } /* '' */
.wpmoly-icon.wpmoly-icon-cinema-alt:before { content: '\e813'; } /* '' */
.wpmoly-icon.wpmoly-icon-search:before { content: '\e814'; } /* '' */
.wpmoly-icon.wpmoly-icon-permalink:before { content: '\e815'; } /* '' */
.wpmoly-icon.wpmoly-icon-author:before { content: '\e816'; } /* '' */
.wpmoly-icon.wpmoly-icon-composer:before { content: '\e817'; } /* '' */
.wpmoly-icon.wpmoly-icon-flag:before { content: '\e818'; } /* '' */
.wpmoly-icon.wpmoly-icon-status:before { content: '\e819'; } /* '' */
.wpmoly-icon.wpmoly-icon-photography:before { content: '\e81a'; } /* '' */
.wpmoly-icon.wpmoly-icon-3d:before { content: '\e81b'; } /* '' */
.wpmoly-icon.wpmoly-icon-metadata:before { content: '\e81c'; } /* '' */
.wpmoly-icon.wpmoly-icon-divx:before { content: '\e81d'; } /* '' */
.wpmoly-icon.wpmoly-icon-streaming:before { content: '\e81e'; } /* '' */
.wpmoly-icon.wpmoly-icon-vhs:before { content: '\e81f'; } /* '' */
.wpmoly-icon.wpmoly-icon-vod:before { content: '\e820'; } /* '' */
.wpmoly-icon.wpmoly-icon-scheduled:before { content: '\e821'; } /* '' */
.wpmoly-icon.wpmoly-icon-actor:before { content: '\e822'; } /* '' */
.wpmoly-icon.wpmoly-icon-hd-o:before { content: '\e823'; } /* '' */
.wpmoly-icon.wpmoly-icon-dvd:before { content: '\e824'; } /* '' */
.wpmoly-icon.wpmoly-icon-sd-o:before { content: '\e825'; } /* '' */
.wpmoly-icon.wpmoly-icon-sd:before { content: '\e826'; } /* '' */
.wpmoly-icon.wpmoly-icon-bluray:before { content: '\e827'; } /* '' */
.wpmoly-icon.wpmoly-icon-hd:before { content: '\e828'; } /* '' */
.wpmoly-icon.wpmoly-icon-mkv:before { content: '\e829'; } /* '' */
.wpmoly-icon.wpmoly-icon-unavailable:before { content: '\e82a'; } /* '' */
.wpmoly-icon.wpmoly-icon-wpmoly:before { content: '\e82b'; } /* '' */
.wpmoly-icon.wpmoly-icon-runtime:before { content: '\e82c'; } /* '' */
.wpmoly-icon.wpmoly-icon-erase:before { content: '\e82d'; } /* '' */
.wpmoly-icon.wpmoly-icon-gplus:before { content: '\e82e'; } /* '' */
.wpmoly-icon.wpmoly-icon-facebook:before { content: '\e82f'; } /* '' */
.wpmoly-icon.wpmoly-icon-twitter:before { content: '\e830'; } /* '' */
.wpmoly-icon.wpmoly-icon-linkedin:before { content: '\e831'; } /* '' */
.wpmoly-icon.wpmoly-icon-shared:before { content: '\e832'; } /* '' */
.wpmoly-icon.wpmoly-icon-poster:before { content: '\e833'; } /* '' */
.wpmoly-icon.wpmoly-icon-collection:before { content: '\e834'; } /* '' */
.wpmoly-icon.wpmoly-icon-movie:before { content: '\e835'; } /* '' */
.wpmoly-icon.wpmoly-icon-video-alt:before { content: '\e836'; } /* '' */
.wpmoly-icon.wpmoly-icon-export:before { content: '\e837'; } /* '' */
.wpmoly-icon.wpmoly-icon-overview:before { content: '\e838'; } /* '' */
.wpmoly-icon.wpmoly-icon-writer:before { content: '\e839'; } /* '' */
.wpmoly-icon.wpmoly-icon-briefcase:before { content: '\e83a'; } /* '' */
.wpmoly-icon.wpmoly-icon-help:before { content: '\e83b'; } /* '' */
.wpmoly-icon.wpmoly-icon-doc:before { content: '\e83c'; } /* '' */
.wpmoly-icon.wpmoly-icon-heart:before { content: '\e83d'; } /* '' */
.wpmoly-icon.wpmoly-icon-cog:before { content: '\e83e'; } /* '' */
.wpmoly-icon.wpmoly-icon-home:before { content: '\e83f'; } /* '' */
.wpmoly-icon.wpmoly-icon-flag-alt:before { content: '\e840'; } /* '' */
.wpmoly-icon.wpmoly-icon-ticket:before { content: '\e841'; } /* '' */
.wpmoly-icon.wpmoly-icon-director:before { content: '\e842'; } /* '' */
.wpmoly-icon.wpmoly-icon-trash:before { content: '\e843'; } /* '' */
.wpmoly-icon.wpmoly-icon-eye:before { content: '\e844'; } /* '' */
.wpmoly-icon.wpmoly-icon-home-1:before { content: '\e845'; } /* '' */
.wpmoly-icon.wpmoly-icon-angle-left:before { content: '\e846'; } /* '' */
.wpmoly-icon.wpmoly-icon-angle-right:before { content: '\e847'; } /* '' */
.wpmoly-icon.wpmoly-icon-add-file:before { content: '\e848'; } /* '' */
.wpmoly-icon.wpmoly-icon-edit-file:before { content: '\e849'; } /* '' */
.wpmoly-icon.wpmoly-icon-queued:before { content: '\e84a'; } /* '' */